@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #27242f;
	background-image: url(/images/t-v-2/light/background/2.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
}