
.v2cell .colorbg .title, .v2cell .colorbg .annotation {
	margin-left:5px;
	margin-right:5px;
}
.v2cell .colorbg .image {
}

.colorbg .edTitle { 
	margin-left:5px;
	margin-right:5px;
	background: #777777;
}
.colorbg .edAnnotation {
	margin-left:5px;
	margin-right:5px;
	background: #888888;
}




.v2cell .bg1 {
	background: #000000;
}
.v2cell .bg2 {
	background: #34749A;
}
.v2cell .bg3 {
	background: #D60000;
}
.v2cell .bg4 {
	background: #FFE400;
}
.v2cell .bg5 {
	background: #E5E5E5;
}
.v2cell .bg6 {
	background: #E1EAF0;
}
.v2cell .bg7 {
	background: #88A047;
}


.v2cell .fg0 .title,
.v2cell .fg0 .title a,
.v2cell .fg0 .annotation,
.v2cell .fg0 .annotation a {
	color: #ffffff !important;
}
.v2cell .fg0 .annotation a:hover {
	color: #111111 !important;
}

.v2cell .fg1 .title,
.v2cell .fg1 .title a,
.v2cell .fg1 .annotation,
.v2cell .fg1 .annotation a {
	color: #000000 !important;
}
.v2cell .fg1 .annotation a:hover {
	color: #ff2222 !important;
}





.v2cell .title {
	font-family: Arial, Tahoma,sans-serif;
	color: #000000;
	font-weight: bold;
}
.v2cell .title a {
	text-decoration: none;
	color: #000000;
}
.v2cell .title a:hover {
	text-decoration: underline;
}
.v2cell .nohover a:hover {
	text-decoration: none !important;
}


.v2cell .image {
	margin-top: 10px;
	/*border-top: solid 1px #d3d3d3;*/
	padding-bottom: 10px;
}


.topArticleBlock .v2cell .image {
	margin-top: 0;
}

.v2cell {
	background: #ffffff;
}

.v2cell .annotation {
	font-family: Arial, Tahoma,sans-serif;
	font-size: 17px;
	line-height: 19px;
	color: #000000;
	padding-top: 6px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.v2cell .annotation .more {
	font-size: 24px;
	line-height: 25px;
	margin-top: 8px;
}
.v2cell .annotation .more a {
	color: #306599;
	text-decoration: underline;
}
.v2cell .annotation .more a:hover {
	color: #111111;
}


.v2cell .s20 { font-size: 20px; line-height: 21px; }
.v2cell .s24 { font-size: 24px; line-height: 25px; }
.v2cell .s27 { font-size: 27px; line-height: 28px; }
.v2cell .s30 { font-size: 30px; line-height: 31px; }
.v2cell .s33 { font-size: 33px; line-height: 34px; }
.v2cell .s36 { font-size: 36px; line-height: 37px; }
.v2cell .s39 { font-size: 39px; line-height: 40px; }
.v2cell .s42 { font-size: 42px; line-height: 43px; }
.v2cell .s45 { font-size: 45px; line-height: 44px; }
.v2cell .s48 { font-size: 48px; line-height: 49px; }
.v2cell .s51 { font-size: 51px; line-height: 52px; }
.v2cell .s54 { font-size: 54px; line-height: 55px; }
.v2cell .s57 { font-size: 57px; line-height: 58px; }
.v2cell .s60 { font-size: 60px; line-height: 61px; }
.v2cell .s63 { font-size: 63px; line-height: 64px; }
.v2cell .s66 { font-size: 66px; line-height: 67px; }
.v2cell .s69 { font-size: 69px; line-height: 70px; }
.v2cell .s72 { font-size: 72px; line-height: 73px; }

.v2cell .s75 { font-size: 75px; line-height: 102%; }
.v2cell .s78 { font-size: 78px; line-height: 102%; }
.v2cell .s81 { font-size: 81px; line-height: 102%; }
.v2cell .s84 { font-size: 84px; line-height: 102%; }
.v2cell .s87 { font-size: 87px; line-height: 102%; }
.v2cell .s90 { font-size: 90px; line-height: 102%; }
.v2cell .s93 { font-size: 93px; line-height: 102%; }
.v2cell .s96 { font-size: 96px; line-height: 102%; }
.v2cell .s99 { font-size: 99px; line-height: 102%; }
.v2cell .s102 { font-size: 72px; line-height: 102%; }





.v2newsBlock {
	margin-bottom: 0;
}

.v2newsBlock .left16 {
	margin-left: 16px;
}
.v2newsBlock .w1 {
	width: 980px;
}
.v2newsBlock .w12 {
	width: 482px;
}
.v2newsBlock .w13 {
	width: 316px;
}
.v2newsBlock .w14 {
	width: 233px;
}
.v2newsBlock .w23 {
	width: 648px;
}
.v2newsBlock .w34 {
	width: 731px;
}

.v2cell2 {
	padding-top: 14px;
	border-top: solid 1px #0f0f0f;
	padding-bottom: 14px;
}

.v2cell2 .image {
	float: left;
	margin-right: 10px;
}
.v2cell2inner {
	float: left;
	position: relative;
}
.v2cell2inner .more {
	position: absolute;
	margin-top: 70px;
	font-size: 16px;
	line-height: 16px;
	display: none;
}
.v2cell2inner .more a {
	color: #306599;
	text-decoration: underline;
}
.v2cell2inner .more a:hover {
	color: #111111;
}


.v2cell2 .title {
	font-size: 17px;
	line-height: 19px;
}
.v2cell2 .title a {
	color: #000000;
	text-decoration: none;
}
.v2cell2 .title a:hover {
	text-decoration: underline;
}
.v2cell2 .annotation {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 5px;
}

.auction-mark {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(/images/icons/fa-black-16/gavel.png);
    opacity: 0.6;
}

.v2cell2 .auction-mark {
    display: block;
    position: relative;
    left: 300px;
    top: 72px;
}
