* {
	margin: 0px;
	padding: 0px;
}

html {
	overflow-y: scroll;
	height: 100%;
}

body {
	width:100%;
	height:100%;
	background-color: #ffffff;
	font-family: Arial, Tahoma, sans-serif;
	color: #222222;
	font-size: 12px;
}

img {
	border: 0px;
}



a {
	color: #225566;
	text-decoration: underline;
}

p {
	margin-top: 10px;
}

a:hover {
	color: #aa0000;
}

.clearfix {
	clear: both;
	height:0px;
}


#allContentBorder  {
	background: #ffffff;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	
}
#allContent {
	width: 998px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}

#pageHeader {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#pageHeader .logo {
	text-align: center;
	padding-top:9px;
	padding-bottom: 8px;
}


#pageHeader .infoBar {
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: solid 1px #0f0f0f;
	border-bottom: solid 9px #0f0f0f;
}
#pageHeader .infoBar .caption {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #757575;
	line-height: 13px;
	padding-left: 6px;
	padding-top: 1px;
}
#pageHeader .infoBar .caption a {
	color: #757575;
	text-decoration: underline;
}
#pageHeader .infoBar .caption a:hover {
	color: #000000;
}

#overLayer {
	position:absolute;
	background:rgba(0,0,0,0.8);
	z-index: 100;
	display:none;
}
#overLayerClose {
	float: right;
	background: #550000;
	color: #ffffff;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	line-height: 10px;
	padding: 15px;
	text-decoration: none;
	display: block;
	clear: both;
}
#overLayerClose:hover {
	color: #000000;
	background: #eebb00;
}
#overLayerInner {
	overflow-y: auto;
}



#topItems {
	padding-top:5px;
	padding-bottom:9px;
	border-bottom: 1px solid #0f0f0f;
}
#pageHeader .teaser {
}
#pageHeader .teaser .image {
	float: left;
	margin-right: 10px;	
}
#pageHeader .teaser .fullTitle { 
	position: absolute;
	background: #ffffff;
	width: 110px;
	margin-left: -6px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	display: none;
}
#pageHeader .teaser .title {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 16px;
}
#pageHeader .teaser .title a {
	color: #000000;
	text-decoration: none;
}
#pageHeader .teaser .title a:hover {
	text-decoration: none;
}

#pageHeader .teaser .more {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	padding-top: 5px;
}
#pageHeader .teaser .more a {
	color: #306599;
	text-decoration: underline;
}
#pageHeader .teaser .more a:hover {
	color: #555555;
}




#pageInner {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	min-height: 600px;
}


#pageFooter {
	text-align: center;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}
#pageFooter .logo {
	padding-top: 20px;
	padding-bottom: 17px;
	border-bottom: 1px solid #0f0f0f;
}
#pageFooter .copyright {
	padding-top: 8px;
	padding-bottom: 15px;
	color: #000000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
}
#pageFooter .counter {
	padding-bottom: 15px;
}



.v2newsBlock .blockAbout {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 9px solid #0f0f0f;
	border-bottom: 9px solid #0f0f0f;
	margin-bottom: 10px;
}
.v2newsBlock .blockAboutInner {
	background: #b3b3cb;
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 32px;
	padding-right: 32px;
}
.v2newsBlock .blockAbout .blockTitle {
	position: absolute;
	width: 270px;
	height: 56px;
	background-image: url(/images/block-about-ribon.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: -57px;
}
.v2newsBlock .blockAbout .leftCol {
	float: left;
	border-left: 1px solid #0f0f0f;
	padding-left: 12px;
	width: 260px;
	font-family: Arial, Tahoma,sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
	margin-top: 65px;
	margin-bottom: 9px;
}
.v2newsBlock .blockAbout .rightCol {
	float: left;
	border-left: 1px solid #0f0f0f;
	padding-left: 12px;
	margin-left: 25px;
	width: 430px;
	font-family: Arial, Tahoma,sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin-bottom: 9px;
}
.v2newsBlock .blockAbout .bottomCol {
	width: 726px;
	font-family: Arial, Tahoma,sans-serif;
	font-size: 22px;
	line-height: 25px;
	color: #000000;
	margin-top: 11px;
}



.topArticleBlock {
	border-bottom: solid 9px #0f0f0f;
	padding-top: 5px;
	padding-bottom: 5px;
}


.v2newsBlock .topOfTheDayLeft {
	float: left;
	border-top: 9px solid #0f0f0f;
	width: 664px;
	padding-top: 8px;
	padding-bottom: 25px;
}
.v2newsBlock .topOfTheDayLeft .item {
	border-bottom: 1px solid #0f0f0f;
	font-family: Arial, Tahoma, sans-serif;
}
.v2newsBlock .topOfTheDayLeft .item .num {
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #801c87;
	margin-left: 2px;
	margin-top:5px;
	margin-bottom: 5px;
	float: left;
	width: 60px;
}
.v2newsBlock .topOfTheDayLeft .item .title {
	float: left;
	width: 602px;
	height: 26px;
	overflow: hidden;
	margin-top: 10px;
}
.v2newsBlock .topOfTheDayLeft .item .titleInner {
	font-size: 19px;
	font-weight: bold;
	line-height: 19px;
	white-space: nowrap;
	float: left;
	clear:both;
}
.v2newsBlock .topOfTheDayLeft .item .titleInner a {
	text-decoration: none;
	color: #0f0f0f;
}
.v2newsBlock .topOfTheDayLeft .item .titleInner a:hover {
	text-decoration: underline;
}

.v2newsBlock .topOfTheDayRight {
	float: right;
	border-top: 9px solid #0f0f0f;
	width: 300px;
	padding-top: 6px;
	padding-bottom: 25px;
}




.v2newsBlock .mostPopular {
	padding-top: 5px;
	border-top: 9px solid #0f0f0f;
	margin-bottom: 10px;
}
.v2newsBlock .mostPopularInner {
	background: #99959c;
	padding-top: 18px;
	padding-bottom:15px;
	padding-left: 11px;
}
.v2newsBlock .mostPopular .item {
	width: 276px;
	margin-left: 9px;
}
.v2newsBlock .mostPopular .item .img {
	margin-bottom: 8px;
}
.v2newsBlock .mostPopular .item .title {
	font-family: Arial, Tahoma,sans-serif;
	font-size: 32px;
	line-height: 33px;
	font-weight: bold;
	margin-bottom: 10px;
}
.v2newsBlock .mostPopular .item .title a {
	color: #ffffff;
	text-decoration: none;
}
.v2newsBlock .mostPopular .item .title a:hover {
	text-decoration: underline;
}

.v2newsBlock .mostPopular .item .more {
	font-family: Arial, Tahoma,sans-serif;
	font-size: 24px;
	line-height: 25px;
}
.v2newsBlock .mostPopular .item .more a {
	color: #ffffff;
	text-decoration: underline;
}
.v2newsBlock .mostPopular .item .more a:hover {
	color: #111111;
}




#itemGallery {
	width: 648px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#itemGallery .gallery {
	overflow: hidden;
	width: 648px;
	position: relative;
	background: #f5f5f5;
}

#itemGallery .prevArea, #itemGallery .nextArea { 
	width: 150px;
	height: 300px;
	position: absolute;
	cursor: pointer;
	z-index: 18;
}
#itemGallery .prevArea { 
	left: 0;
}
#itemGallery .nextArea { 
	right: 0;
}

#itemGallery .prev, #itemGallery .next {
	position: absolute;
	width: 60px;
	height: 116px;
	background-image: url(/images/gallery-arrows.png);
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 20;
}

#itemGallery .prev {
	background-position: -61px 0;
	left: 0;
}
#itemGallery .prevHover {
	background-position: -61px -116px;
}
#itemGallery .prevActive {
	background-position: -61px -232px;
}


#itemGallery .next {
	background-position: 0px 0px;
	right: 0px;
}
#itemGallery .nextHover {
	background-position: 0px -116px;
}
#itemGallery .nextActive {
	background-position: 0px -232px;
}

#itemGallery .galleryInner {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 15;
}
#itemGallery .itemImage {
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#itemGallery .thumbs {
	position: relative;
	height: 55px;
	width: 648px;
	overflow: hidden;
}
#itemGallery .thumbs .currentThumb {
	position: absolute;
	display: none;
	z-index: 20;
	width: 1px;
	left: -200px;
	height: 41px;;
	border: 2px solid #0762BE;
	top: 5px;
}
#itemGallery .thumbsInner {
	position: absolute;
	z-index: 15;
}
#itemGallery .thumbsInner td {
	cursor: pointer;
	padding-right: 5px;
	padding-top: 5px;
}
.galleryTeaser {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 40px;
	line-height: 42px;
}
.galleryTeaser a {
	color: #0f0f0f;
	text-decoration: underline;
}
.galleryTeaser a:hover {
	color: #306599;
}



#itemVideo {
	margin-top: 10px;
	margin-bottom: 15px;
}

.videoButton {
	position: absolute;
	width: 125px;
	height: 125px;
	z-index: 20;
}



.scrollDocs {
	width: 980px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 9px #0f0f0f;
	border-bottom: solid 9px #0f0f0f;
}

.scrollDocs .gallery {
	overflow: hidden;
	width: 980px;
	height: 270px;
	position: relative;
	background: #99959c;
}
.scrollDocs .galleryInner {
	position: absolute;
	top: 18px;
	z-index: 10;
}
.scrollDocs .gallery .item {
	margin-left: 9px;
	margin-right: 9px;
	background: #ffffff;
	height: 234px;
	width: 214px;
	overflow: hidden;
}
.scrollDocs .gallery .item .title {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 20px;
	padding-left: 6px;
	padding-right: 4px;
	padding-top: 6px;
	height: 60px;
	overflow: hidden;
}
.scrollDocs .gallery .item .title a {
	text-decoration: none;
	color: #000000;
}


.scrollDocs .prev, .scrollDocs .next {
	position: absolute;
	width: 60px;
	height: 116px;
	background-image: url(/images/gallery-arrows.png);
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 20;
	top: 77px; 
}

.scrollDocs .prev {
	background-position: -61px 0px;
	left: 0px;
}
.scrollDocs .prev:hover {
	background-position: -61px -116px;
}
.scrollDocs .prev:active {
	background-position: -61px -232px;
}


.scrollDocs .next {
	background-position: 0px 0px;
	right: 0px;
}
.scrollDocs .next:hover {
	background-position: 0px -116px;
}
.scrollDocs .next:active {
	background-position: 0px -232px;
}


#showcase {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.showcaseItem {
	float: left;
	width: 217px;
	margin-left: 3px;
	margin-right: 3px;
	height: 265px;
	padding: 5px;
	background: #ffffff;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: hidden;
}

.showcase2  {
	background: #eeeeee;
	padding-top: 7px !important;
}
.showcase2 .showcaseItem {
	padding:7px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom:14px;
}

.showcaseItem:hover a {
	color: #000000 !important;
}

.showcaseItem .title {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 17px;
	line-height: 20px;
	margin-top: 10px;
}
.showcaseItem .title a {
	text-decoration: none;
	color: #333333;
}
.showcaseItem .title a:hover {
	color: #000000;
}




#sliderNews {
	position: absolute;
	z-index:1000;
	background-color:#e3d9e4;
	padding-left:7px;
	padding-right:7px;
	padding-top:8px;
	padding-bottom: 8px;
	width:386px;
	left: -500px;
	display: none;
	box-shadow: rgba(0,0,0,0.5) 1px 1px 15px;
}
.sliderNewsInner {
	border-top: solid 9px #000000;
	border-bottom: solid 9px #000000;
	padding-top:7px;
	padding-bottom: 15px;
}
.sliderNewsClose {
	float: right;
	margin-top: 4px;
	width:20px;
	height: 20px;
	background-image: url(/images/close-button.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	cursor: pointer;
}
.sliderNewsClose:hover {
	background-position: -20px 0px;
}

.sliderNewsItem {
	margin-left: 18px;
	margin-top: 15px;
	padding-bottom: 2px;
}

.sliderNewsItem .img {
	float: left;
	width: 150px;
	margin-right: 9px;
}
.sliderNewsItem .title {
	float: left;
	width: 209px;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 19px;
	line-height: 22px;
}

.sliderNewsItem .title a {
	color: #000000;
	text-decoration: underline;
	display: block;
}
.sliderNewsItem .title a:hover {
	color: #be0005;
}




.newsTicker {
	width: 980px;
	height: 120px;
	overflow: hidden;
	background: #cccccc;
}
.newsTickerInner {
	margin-top: 3px;
}
.newsTicker .item {
	border: solid 3px #cccccc;
}
.newsTicker .current {
	border: solid 3px #074076 !important;
}
.newsTickerTitle {
	font-family: Arial, Tahoma, sans-serif;
	color: #222222;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
	margin-top: 3px;
}



.v2newsBlock .banner1, .v2newsBlock .banner2, .v2newsBlock .banner3 {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 9px solid #0f0f0f;
	border-bottom: 9px solid #0f0f0f;
	margin-bottom: 10px;
}
.v2newsBlock .vrB2 {
	background: #555555;
	width: 1px;
	height: 90px;
	margin-left: 8px;
	margin-right: 7px;
	float: left;
}

.v2newsBlock .bannerCode {
	float: left;
	height: 90px;
}
.v2newsBlock .banner1 .bannerCode { width: 980px; }
.v2newsBlock .banner2 .bannerCode { width: 482px; }
.v2newsBlock .banner3 .bannerCode { width: 316px; }

.dummy_banner1, .dummy_banner2, .dummy_banner3 {
	border: 1px solid #555555;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 42px;
	line-height: 80px;
	height: 88px;
	background: #134550;
	text-align: center;
	color: #ffffff;
}
.dummy_banner1 { width: 978px; }
.dummy_banner2 { width: 480px; }
.dummy_banner3 { width: 314px; }

.img-tracker {
        z-index: -100;
}

.auction-info {
    display: block;
    font-size: 15px;
    font-color: #222;
}

.badge {
    display: inline-block;
    color: white;
    margin-top: 5px;
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: bold;
    background: #006DCC;
}

.badge.winner {
}

.badge.testing {
    background: #bfbfbf;
}
