@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #eeeeee;
	background-image: url(../../images/background/texture-1.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center top;
}