<!DOCTYPE html>
<!--suppress HtmlUnknownTarget, HtmlUnknownTag, HtmlFormInputWithoutLabel -->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ config.SERVER_NAME }} | Админочка</title>

    {% assets "admin_css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

</head>
{% if config.SERVER_NAME == 'funnetwork.ru'%}
    <body class="make-it-lavanda">
{% elif config.SERVER_NAME == "wow-impulse.net"%}
    <body class="make-it-pink">
{% elif config.SERVER_NAME == "gamma.wow-impulse.ru"%}
    <body class="make-it-green">
{% else %}
    <body class="make-it-yellow">
{% endif %}

{# Fixed navbar #}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">
                {{ config['WOW_SITE_NAME'] }}
                ({{ current_user.get_id() }})
            </a>
        </div>
        <div id="navigation-menu" class="navbar-collapse collapse">
            <div id="generated-navigation-menu-region"></div>

            <ul id="navigation-misc-tools-region" class="nav navbar-nav navbar-left">
            </ul>

            <ul class="navbar-form navbar-left pull-right">
                <li><a href="/logout" class="btn btn-danger">Выход</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="content" class="container">
</div>

{### Templates ###}
{% raw %}

<script id="db-error-template" type="text/template">
    <div class="alert alert-danger">
        Ошибка базы данных.
    </div>
</script>

{% endraw %}
{% if current_user.has_role('root') or current_user.has_role('admin') or current_user.has_role('chief_editor') %}
{% raw %}

<script id="misc-tools-menu-template" type="text/template">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Разное <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a class="tool" data-url="tools/stats/whole" href="/ed/tools/stats/whole">Статистика</a></li>
        <li><a class="tool" data-url="tools/generation" href="/ed/tools/generation">Генерация</a></li>
        <li><a class="tool" data-url="tools/config" href="/ed/tools/config">Настройки</a></li>
        {% if App.OVERALL_AUCTION %}
        <li><a class="tool" data-url="tools/config" href="/ed/tools/auction_stats">Общий аукцион</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a class="tool" data-url="tools/recalculate_title_sizes" href="/ed/tools/recalculate_title_sizes">Пересчитать
            размеры заголовков</a></li>
    </ul>
</script>
{% endraw %}
    {% else %}
    <script id="misc-tools-menu-template" type="text/template">
       {% raw %}{% if App.OVERALL_AUCTION %}{% endif %}{% endraw %}
    </script>
{% endif %}
{% raw %}

<script id="nav-item-template" type="text/template">
    <a href="{{ App.BP_PREFIX + url }}">{{ caption }}</a>
</script>

{% endraw %}
{% if not current_user.has_role('client') %}
{% raw %}
<!-- Список новостей -->
<script id="news-list-template" type="text/template">

    <div class="form-group">
        <button type="button" class="add-new-item btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить
            {{ App.newsTypeAccusative(newsType) }}
        </button>
    </div>

    <div>
        <div class="col-sm-6">
            {% if newsType == 'news' %}
            <ul id="type-switch" class="nav nav-pills">
                <li class="active"><a id="type-switch-all" href="#">Все</a></li>
                <li><a id="type-switch-news" href="#">Обычные новости</a></li>
                <li><a id="type-switch-gallery" href="#">Галереи</a></li>
                <li><a id="type-switch-video" href="#">Видосы</a></li>
            </ul>
            {% endif %}
        </div>
        <div class="col-sm-6 form-inline">
            <form class="pull-right" id='search-form'>
                {% if sourceFilterValue %}
                <button type="button" id='disable-source-filter-button' class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                    Фильтр по источнику
                    <span id='disable-filter-source-title' />
                </button>
                {% endif %}
                {% if tagFilterValue %}
                <button type="button" id="disable-tag-filter-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                    Фильтр по тегу
                    <span id='disable-filter-tag-title' />
                </button>
                {% endif %}
                <input type="text" id="search" name="search" class="form-control input-sm" placeholder="Поиск"/>
            </form>
        </div>

    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th class="sort" by="is_published">П <i></i></th>
            {% if newsType == 'banners' or newsType == 'news' %}
            <th><span class="glyphicon glyphicon-link"></span></th>
            <th></th>
            {% endif %}
            <th class="sort" by='title'>Заголовок <i></i></th>
            {% if newsType == 'banners' or newsType == 'lines' %}
            <th class="sort" by="source_id">Источник <i></i></th>
            {% else %}
            <th></th>
            {% endif %}
            <th class="sort" by="date">Дата <i></i></th>
            {% if newsType == 'banners' or newsType == 'lines' %}
            <th class="sort" by="shows">Показы <i></i></th>
            <th class="sort" by="clicks">Клики <i></i></th>
            <th class="sort" by="ctr">CTR <i></i></th>
            {% endif %}
            <th class="text-center"><input type=checkbox id=select-all class="mark"></input></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id='news-list-paginator'>

        <div class="form-group">
            <button type="button" class="delete-selected btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span>
                Удалить отмеченные
            </button>
        </div>

</script>
{% endraw %}
    {% else %}
    <script id="news-list-template" type="text/template"> </script>
{% endif %}
{% raw %}
<!-- Строчка новости -->
<script id="news-item-template" type="text/template">
    <td>
        {{ idx }}
        {% if newsType == 'banners' %}
        <img class="distilled-switch" src="{{ App.BP_PREFIX }}static/img/distilled-{{ is_distilled | onOff }}.png"/>
        {% endif %}
    </td>
    <td><img class="published-switch" src="{{ App.BP_PREFIX }}static/img/switch-{{ is_published | onOff }}.gif"
             width="30" height="55"/></td>
    {% if newsType == 'banners' or newsType == 'news' %}
    <td>
            <a class="glyphicon glyphicon-link" title="Посмотреть на сайте" target="_blank" href="http://{{ App.CONFIG_SERVER_NAME }}/{{ newsType }}/{{ id }}{% if newsType == 'news' %}-{{ mnemonic_id }}{% endif %}.html">
            </a>
    </td>
    <td>
        <img class="preview" src="{{ App.newsImageUrl(unid, 1, 100, 78, 50, 50) }}"/>
    </td>
    {% endif %}
    <td>
        <a class="news-item-title" href="{{ App.BP_PREFIX + newsType + '/' + id + '.html' }}">
            {{ title }}
        </a>
        {% if newsType == 'banners' or newsType == 'news' %}
        {% endraw %}
        {% if current_user.has_role('admin') or current_user.has_role('root') or current_user.has_role('chief_editor') %}
            <button
              type="button"
              class="btn btn-xs btn-default auction-stats-button pull-right"
              title="Аукцион">
                <i class="fa fa-gavel"></i>
            </button>
        {% endif %}
        {% raw %}
        {% endif %}
        {% if is_gallery %}
            <span class="label label-info pull-right">
                {% if is_gallery_from_hell %}
                    Адовая галерея
                {% else %}
                    Галерея
                {% endif %}
            </span>
        {% endif %}
        {% if video %}
        <span class="label label-info pull-right">Видос</span>
        {% endif %}
    </td>
    <td>
        <a class="banner-source-link" href="{{ App.BP_PREFIX }}banners?source={{ source_id }}">
            {{ source.title }}
        </a>
    </td>
    <td>{{ date | dateFormat }}</td>
    {% if newsType == 'banners' or newsType == 'lines' %}
    <td>{{ shows|default('-') }}</td>
    <td>{{ clicks|default('-') }}</td>
    <td>
        {% if shows %}
        {{ (100.0 * clicks / shows)|round(2) }}%
        {% else %}
        -
        {% endif %}
    </td>
    {% endif %}
    <td align="center"><input type="checkbox" class="mark"/></td>

</script>


<!-- Список новостей для морды-->
<script id="morda-list-template" type="text/template">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>П</th>
            <th>Заголовок</th>
            <th>Дата</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="form-group">
        <button type="button" class="delete-selected btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
            Удалить отмеченные
        </button>
    </div>
</script>


<!-- Строчка новости для морды -->
<script id="morda-item-template" type="text/template">
    <td>
        {{ idx }}
        <br/>
        <a class="morda-num-edit" href="#">{{ morda_num }}</a>
    </td>
    <td>
        {% if is_published %}
        <span class="glyphicon glyphicon-ok text-success"></span>
        {% else %}
        <span class="glyphicon glyphicon-remove text-error"></span>
        {% endif %}
    </td>
    <td>
        <a class="news-item-title" href="{{ App.BP_PREFIX + newsType + '/' + id + '.html'}}">
            {{ title }}
        </a>
        <br/>
        <small>{{ body }}</small>
    </td>
    <td>{{ date | dateFormat }}</td>
    <td align="center"><input type="checkbox" class="mark"/></td>
</script>


<!-- Строчка с картинкой внутри формы новости -->
<script id="news-image-template" type="text/template">
    <div class="col-sm-2">
        <img class="preview" src="{{ App.newsImageUrl(unid, num, 100, 78, cx, cy) }}"/><br>
    </div>
    <div class="col-sm-8 form-group form-group-sm">
        <label for="caption-{{ num }}" class="col-sm-2 control-label">Подпись</label>

        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="caption-{{ num }}" name="caption"
                   value="{{ caption }}"/>
        </div>
        <label for="copyright-{{ num }}" class="col-sm-2 control-label">Копирайт</label>

        <div class="col-sm-10">
            <input type="text" class="form-control input-sm" id="copyright-{{ num }}" name="copyright"/>
        </div>
    </div>
    <div class="col-sm-2 form-group">
        <button type="button" class="btn btn-sm btn-danger pull-right delete-image"><i
                class="glyphicon glyphicon-remove"></i></button>
        <br>
        <small>
            в оригинальном размере:
            <a href="{{ App.newsImageOriginalUrl(unid, num) }}" target="_blank">{{ num }}.jpg</a>
        </small>
    </div>
</script>


<!-- Чекбокс для тегов внутри формы новости -->
<script id="news-tag-item-template" type="text/template">
    <label>
        <input type="checkbox"/>
        {{ title }}
    </label>
</script>


<!-- Виджет для превью картинки внутри формы новости -->
<script id="image-preview" type="text/template">
    <div class="col-sm-10" style="position:relative;">
        <div style="position:relative;">
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div id="preview-img-aim" style="position:absolute;cursor:move;width:48px;height:48px;">
                            <img src="/ed/static/img/aim.png" width="48" height="48"/>
                        </div>
                        <img id="preview-img" style="margin:23px;border:1px solid #333333;" src=""/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-2 form-group">
        <div class="input-group">
            <input type="text" id="preview-cx" class="form-control"/>
            <span class="input-group-addon">%</span>
        </div>
        <div class="input-group">
            <input type="text" id="preview-cy" class="form-control"/>
            <span class="input-group-addon">%</span>
        </div>
    </div>
</script>


<!-- Редактирование новости -->
<script id="edit-news-item-template" type="text/template">
    <form>
        <div class="row">
            <div class="form-group">
                <button class="news-add-more btn btn-success"><i class="glyphicon glyphicon-plus"></i>
                    Добавить еще {{ 'новость' if newsType == 'news' else ('баннер' if newsType == 'banners' else 'строчку') }}
                </button>
                {% if newsType == 'banners' or newsType == 'news' %}
                {% endraw %}
                {% if current_user.has_role('root') or current_user.has_role('admin') or current_user.has_role('chief_editor') %}
                <button
                        type="button"
                        class="btn btn-default auction-stats-button pull-right"
                        title="Аукцион">
                    <i class="fa fa-gavel"></i> Аукцион
                </button>
                    {% endif %}
                {% raw %}
                <span style="font-size: 24px; margin-right: 40px;" class='pull-right'><a class="glyphicon glyphicon-link " title="Посмотреть на сайте" target="_blank" href="http://{{ App.CONFIG_SERVER_NAME }}/{{ newsType }}/{{ id }}{% if newsType == 'news' %}-{{ mnemonic_id }}{% endif %}.html">
                    Перейти на сайт
                </a></span>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="news-item-mnemonic-id">ID</label>
            <input type="text" class="form-control input-sm" id="news-item-mnemonic-id"/>
        </div>

        <div class="form-group">
            <label for="news-item-title">Заголовок</label>
            <input type="text" class="form-control input-lg" id="news-item-title"/>
        </div>

        <div class="row">
            <div class="col-sm-offset-3 col-sm-3">
                {% if newsType != 'lines' %}
                <strong>Тег</strong><br/>

                <div id="tag-items-region"></div>
                {% endif %}
            </div>

            <div class="col-sm-3">
                <div class="checkbox">
                    <label>
                        <input id="news-item-is-published" type="checkbox"/>
                        Опубликовано
                    </label>
                </div>

                {% if newsType == 'news' %}
                <div class="checkbox">
                    <label>
                        <input id="news-item-is-on-morda" type="checkbox"/>
                        Выносить на главную
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="news-item-is-gallery-from-hell" type="checkbox"/>
                        Адовая галерея
                    </label>
                </div>
                {% endif %}

                {% if newsType == 'banners' %}
                <div class="checkbox">
                    <label>
                        <input id="news-item-in-extra-block1" type="checkbox"/>
                        Спецблок №1
                    </label>
                </div>
                {% endif %}
            </div>

            <div class="col-sm-3 form-group">
                <label for="news-item-date" class="control-label">Дата</label>
                <input type="text" id="news-item-date" class="form-control input-sm"/>
            </div>
        </div>


        {% if newsType != 'lines' %}
        <div class="form-group">
            <label for="news-item-annotation">Анонс</label>
            <textarea class="form-control" id="news-item-annotation" rows="4"></textarea>
        </div>
        {% endif %}

        {% if newsType == 'banners' or newsType == 'lines' %}
        <div class="form-group">
            <label for="news-item-link">Ссылка</label>
            <input type="text" id="news-item-link" class="form-control input-sm"/>
        </div>

        <div class="form-group">
            <label for="news-item-source-id">Источник</label>
            <select id="news-item-source-id"></select>
        </div>
        {% endif %}

        {% if newsType == 'news' %}
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control ckeditor" id="news-item-body" rows="10"></textarea>

                    <label for="news-item-text-link">Ссылка</label>
                    <input type="text" id="news-item-text-link" class="form-control input-sm"/>

                    <label for="news-item-text-link-caption">Название ссылки</label>
                    <input type="text" id="news-item-text-link-caption" class="form-control input-sm"
                           value="Еще на эту тему"/>
                </div>
            </div>
        </div>
        {% elif newsType == 'banners' %}
        <div class="panel panel-default">
            <div class="panel-body">
                <label for="news-item-text-link-caption">Название ссылки</label>
                <input type="text" id="news-item-text-link-caption" class="form-control input-sm"
                       value="Читать далее >>>"/>
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <button class="news-item-save btn btn-primary btn-lg">Готово</button>
        </div>

        {% if newsType != 'lines' and newsType != 'banners' %}
        <div class="form-group">
            <label for="news-item-video">Видео</label>
            <textarea class="form-control input-sm" id="news-item-video" rows="3"></textarea>
        </div>
        {% endif %}

        {% if newsType != 'lines' %}
        <div id="preview-region"></div>

        <div class="row">
            <div id="fine-uploader" class="form-group col-sm-6">
            </div>

            <div class="form-group col-sm-6" align="right">
                <button class="news-item-save news-item-save-secondary btn btn-primary btn-lg">Готово</button>
            </div>
        </div>

        <div id="images-region"></div>
        {% endif %}

    </form>
</script>


<!-- для fineuploader -->
<script type="text/template" id="fine-uploader-template">
    <div class="qq-uploader-selector qq-uploader span12">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area span12" qq-hide-dropzone>
            <span>Drop files here to upload</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button btn btn-success" style="width: auto;">
            <div><i class="glyphicon glyphicon-upload"></i> Загрузить картинки</div>
        </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
        <ul class="qq-upload-list-selector qq-upload-list" style="margin-top: 10px; text-align: center;">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>
{% endraw %}


<!-- Список источников -->
{% if current_user.has_role('root') or current_user.has_role('admin') or current_user.has_role('chief_editor') %}
{% raw %}
<script id="source-list-template" type="text/template">

    <div class="form-group">
        <button type="button" class="add-new-source btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить источник
        </button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Название</th>
            <th class="text-center" colspan="2">Переходы</th>
            <th class="text-center" colspan="2">Показы</th>
            <th class="text-right">CTR</th>
            <th class="text-right">Цена</th>
            <th class="text-center">Галереи</th>

            <th class="text-center"><input type=checkbox id=select-all class="mark"></input></th>
        </tr>
        </thead>
        <tbody id="sources-list">
        </tbody>
        <tbody id="totals">
        <tr>
            <td colspan="2" style="text-align: left"><b>ИТОГО:</b></td>
            <td style="text-align: right"><b>{{ totals.out }}</b></td>
            <td>&nbsp;</td>
            <td style="text-align: right"><b>{{ totals.in }}</b></td>
            <td>&nbsp;</td>
            <td style="text-align: right"><b>{{ (totals.ctr * 100)|decimal }}%</b></td>
            <td style="text-align: right"><b>{{ totals.price|decimal }}</b></td>
            <td colspan="2">&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <button type="button" class="delete-selected-sources btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
            Удалить отмеченные
        </button>
    </div>

</script>
{% endraw %}
{% endif %}

<!-- Источник -->
{% if current_user.has_role('root') or current_user.has_role('admin') or current_user.has_role('chief_editor') %}
{% raw %}
<script id="source-template" type="text/template">
    {% if daily_click_limit > 0 %}
    {% set scl = "red-line" if today_stats['click'] > daily_click_limit else "" %}
    {% endif %}
    <td class="{{ scl }}">
        {{ idx }} / <a class="num-edit" href="#">{{ num }}</a>
    </td>
    <td class="{{ scl }}">
        <a class="show-banners" title="Найти баннеры" href="#">
            {{ title }}
        </a>
        <a class="edit-source pull-right" href="#"><i class="fa fa-pencil" title="Редактировать источник"></i></a>
    </td>
    <td align="right" class="{{ scl }} source-clicks">
        {{ today_stats['click'] }}
        {% if total_click_limit > 0 %}
        {% set cl = "-overflow" if total_stats['click'] > total_click_limit else "" %}
        <br/>
        <span class="source-total-counter{{ cl }} small">{{ total_stats['click'] }}</span>
        {% endif %}
    </td>
    <td align="right" class="{{ scl }} source-clicks">
        {{ daily_click_limit if daily_click_limit > 0 else "&mdash;" }}
        {% if total_click_limit > 0 %}
        <br/>
        <span class="source-total-counter small">{{ total_click_limit }}</span>
        {% endif %}
    </td>
    <td align="right" class="{{ scl }}">
        {{ today_stats['show'] }}
        {% if total_show_limit > 0 %}
        {% set cl = "-overflow" if total_stats['show'] > total_show_limit else "" %}
        <br/>
        <span class="source-total-counter{{ cl }} small">{{ total_stats['show'] }}</span>
        {% endif %}
    </td>
    <td align="right" class="{{ scl }}">
        {{ daily_show_limit if daily_show_limit > 0 else "&mdash;" }}
        {% if total_show_limit > 0 %}
        <br/>
        <span class="source-total-counter small">{{ total_show_limit }}</span>
        {% endif %}
    </td>
    <td align="right" class="{{ scl }}">{{ (today_stats['ctr'] * 100)|decimal }}%</td>
    <td align="right" class="{{ scl }}">{{ click_price | decimal }}</td>
    <td align="center" class="{{ scl }}">
        {% if show_in_hell_galleries %}
            <span title="адовая">
                !
            </span>
        {% endif %}
        {% if show_in_galleries %}
            <span title="галерея">
                ✔
            </span>
        {% endif %}
    </td>
    <td align="center" class="{{ scl }}">
        <input type="checkbox" class="mark"/>
    </td>
</script>
{% endraw %}
{% endif %}


<!-- Редактирование источника -->
{% raw %}
<script id="edit-source-template" type="text/template">

    <form id="source-form" class="form-horizontal">
        <div class="form-group">
            <button type="button" class="btn btn-info pull-right show-banners">
                <span class="glyphicon glyphicon-list"></span>
                Показать баннеры
            </button>
        </div>

        <div class="form-group">
            <label for="source-title" class="control-label">Заголовок</label>
            <input type="text" class="form-control input-lg" id="source-title" name="title"/>
        </div>

        <div class="form-group">
            <div class="col-sm-7">
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th></th>
                        <th>Суточный</th>
                        <th>Суммарный</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><strong>Лимит переходов</strong></td>
                        <td>
                            <input type="text" class="form-control text-right"
                                   id="source-daily-click-limit" name="daily_click_limit"/>
                        </td>
                        <td>
                            <input type="text" class="form-control text-right"
                                   id="source-total-click-limit" name="total_click_limit"/>
                        </td>
                        <td>(0 – без ограничений)</td>
                    </tr>
                    <tr>
                        <td><strong>Лимит показов</strong></td>
                        <td>
                            <input type="text" class="form-control text-right"
                                   id="source-daily-show-limit" name="daily_show_limit"/>
                        </td>
                        <td>
                            <input type="text" class="form-control text-right"
                                   id="source-total-show-limit" name="total_show_limit"/>
                        </td>
                        <td>(0 – без ограничений)</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="source-hide-referer" name="hide_referer" type="checkbox"/>
                    Маскировать referer
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="source-show-in-galleries" name="show_in_galleries" type="checkbox"/>
                    Показывать только в обычных галереях (последний кадр с рекламой)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="source-show-in-hell-galleries" name="show_in_hell_galleries" type="checkbox"/>
                    Показывать только в адовых галереях (в качестве рекламных вставок)
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input id="source-is-fullfill" name="is_fullfill" type="checkbox"/>
                    Внутренний источник-заглушка (показы/клики не учитываются)
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="source-click-price" class="col-sm-2 control-label">Цена клика</label>

            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" id="source-click-price" name="click_price" class="form-control text-right"/>
                    <div class="input-group-addon cursor-pointer" data-toggle="collapse" data-target="#source-click-price-history-collapse" aria-expanded="false" aria-controls="source-click-price-history-collapse">
                      <span aria-hidden="true" class="glyphicon glyphicon-list-alt" title="История изменения цены"></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="collapse col-sm-4" id="source-click-price-history-collapse">
                <div class="panel panel-default col-md-12">
                    <div class="panel-body col-md-12 text-center">
                      Цена еще не менялась
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
                <table class="table table-bordered table-condensed">
                    {% for wd in WEEKDAYS %}
                    <tr class="{% if wd.en == 'sat' or wd.en == 'sun' %}warning{% endif %}">
                        <td>
                            <input id="source-active-{{ wd.en }}" name="active_{{ wd.en }}" type="checkbox"/>
                        </td>
                        <td><strong>{{ wd.ru }}</strong></td>
                        <td align="center">
                            <nobr>
                                <select id="source-active-{{ wd.en }}-start" name="active_{{ wd.en }}_start"
                                        class="btn btn-sm btn-default">
                                </select>
                                &ndash;
                                <select id="source-active-{{ wd.en }}-end" name="active_{{ wd.en }}_end"
                                        class="btn btn-sm btn-default">
                                </select>
                            </nobr>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <fieldset>
            <legend>Геопозиции</legend>
            <input type="text" class="form-control input-lg" id="source-geo" name="geo"/>
        </fieldset>

        <!--        <div class="form-group">
                       {% for geo in GEO_IDS %}
                            <input id="source-geo" name="geo" value="{{ geo.id }}" type="checkbox"/>
                                <strong>{{ geo.name }}</strong><br>
                        {% endfor %}
                </div>

                <b id="geotext">{{ geo }}</b> !-->

        <div class="form-group">
            <button class="sources-save btn btn-primary btn-lg">Готово</button>
            <button type="button" class="reset-counters btn btn-danger pull-right">
                <span class="glyphicon glyphicon-remove"></span>
                Сбросить суммарные счетчики
            </button>
        </div>
    </form>
</script>


<!-- Список провайдеров -->
<script id="provider-list-template" type="text/template">

    <div class="form-group">
        <button type="button" class="add-new-provider btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить провайдера
        </button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>No.</th>
            <th>Название</th>
            <th>Паттерн URL</th>
            <th class="text-right">Переходы</th>
            <th class="text-right">Цена</th>
        
            <th class="text-center"><input type=checkbox id=select-all class="mark"></input></th>
        </tr>
        </thead>
        <tbody id="provider-list">
        </tbody>
        <tbody id="totals">
        <tr>
            <td colspan="3" style="text-align: left"><b>ИТОГО:</b></td>
            <td style="text-align: right"><b>{{ totals.clicks }}</b></td>
            <td style="text-align: right"><b>{{ totals.price|decimal }}</b></td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div class="form-group">
        <button type="button" class="delete-selected-providers btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
            Удалить отмеченные
        </button>
    </div>

</script>

<!-- Провайдер -->
<script id="provider-template" type="text/template">
    <td>
        {{ id }}
    </td>
    <td>
        {{ name }}
        <a class="edit-provider pull-right cursor-pointer"><i class="fa fa-pencil" title="Редактировать провайдера"></i></a>
    </td>
    <td>
        {{ domain_pattern }}
    </td>
    <td align="right" class="provider-clicks">
        {{ clicks | integer }}
    </td>
    <td align="right">{{ click_price | decimal }}</td>
    <td align="center">
        <input type="checkbox" class="mark"/>
    </td>
</script>


<!-- Редактирование провайдера -->
<script id="edit-provider-template" type="text/template">

    <form id="provider-form" class="form-horizontal">
        <div class="form-group">
            <label for="provider-name" class="control-label">Название провайдера трафика</label>
            <input type="text" class="form-control input-lg" id="provider-name" name="name"/>
        </div>
    
        <div class="form-group">
            <label for="provider-domain-pattern" class="control-label">Паттерн URL</label>
            <input type="text" class="form-control input-lg" id="provider-domain-pattern" name="domain_pattern"/>
        </div>

        <div class="form-group">
            <label for="provider-click-price" class="col-sm-2 control-label">Цена клика</label>

            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" id="provider-click-price" name="click_price" class="form-control text-right"/>
                    <div class="input-group-addon cursor-pointer" data-toggle="collapse" data-target="#provider-click-price-history-collapse" aria-expanded="false" aria-controls="provider-click-price-history-collapse">
                      <span aria-hidden="true" class="glyphicon glyphicon-list-alt" title="История изменения цены"></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="collapse col-sm-4" id="provider-click-price-history-collapse">
                <div class="panel panel-default col-md-12">
                    <div class="panel-body col-md-12 text-center">
                      Цена еще не менялась
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="provider-save btn btn-primary btn-lg">Готово</button>
        </div>
    </form>
</script>

<!-- Region search widget -->
<script id="region-search-template" type="text/template">
    <input type="search" class="form-control" placeholder="Введите названия страны или города" />
    <div class="geo children"></div>
</script>

<script id="region-template" type="text/template">
    <input type="checkbox" id="{{ id }}" />
    <span>{{ name }}</span>
    <i>{{ country_name }}</i>
</script>

<!-- Список тегов -->
<script id="tag-list-template" type="text/template">

    <div class="form-group">
        <button type="button" class="add-new-tag btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить тег
        </button>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th></th>
            {# checkbox #}
        </tr>
        </thead>
        <tbody id="tag-list">
        </tbody>
    </table>

    <div class="form-group">
        <button type="button" class="delete-selected-tag btn btn-danger pull-right">
            <span class="glyphicon glyphicon-remove"></span>
            Удалить отмеченные
        </button>
    </div>

</script>


<!-- Строчка в списке тегов -->
<script id="tag-template" type="text/template">
    <td>{{ id }}</td>
    <td>
        <a href="{{ App.BP_PREFIX + 'banners?tag=' + id }}">
            {{ title }}</a>
        <a class="edit-tag pull-right"
           href="{{ App.BP_PREFIX + 'tags/' + id }}">
            <i class="fa fa-pencil" title="Редактировать"></i>
        </a>
    </td>
    <td align="center"><input type="checkbox" class="mark"/></td>
</script>


<!-- Редактирование источника -->
<script id="edit-tag-template" type="text/template">

    <form id="tag-form" class="form-horizontal">
        <div class="form-group">
            <label for="tag-title" class="control-label">Заголовок</label>
            <input type="text" class="form-control input-lg" id="tag-title" name="title"/>
        </div>

        <div class="form-group">
            <button class="sources-save btn btn-primary btn-lg">Готово</button>
        </div>
    </form>
</script>

<script id="tools-fit-text-template" type="text/template">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Пересчет размеров заголовков</h3>
            </div>
            <div class="panel-body">
                <p>Осторожно, это может занять кучу времени.</p>

                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100" style="width:0;">
                    </div>
                </div>
                <div id="progress-text"></div>
                <div class="checkbox">
                    <label>
                        <input id="recalculate-all" type="checkbox"> Пересчитать все (включая уже пересчитанные)
                    </label>
                </div>
                <button type="button" id="recalculate-font-sizes" class="btn btn-warning">Пересчитать заголовки</button>
            </div>
        </div>
    </div>
</script>


<!-- Статистика -->
<script id="tools-stats-template" type="text/template">

    <div class="row pull-right menu-stats-filters">
        <h6>Фильтровать:
            <a class="tool" data-url="tools/stats/whole" href="/ed/tools/stats/whole">Общая статистика</a>&nbsp;|&nbsp;
            <a class="tool" data-url="tools/stats/banners" href="/ed/tools/stats/banners">Статистика по баннерам</a>&nbsp;|&nbsp;
            <a class="tool" data-url="tools/stats/news" href="/ed/tools/stats/news">Статистика по статьям</a>
        </h6>
    </div>
    <hr style="clear:both" />
    <div class="row">
        <div class="col-md-2 form-group">
            <select id="select-source" class="form-control">
                <option value="">Все источники</option>

                {% for i, title in source_titles %}
                <option value="{{ i }}"
                        {% if i == source_id %}
                        selected="selected"
                        {% endif %}
                        >{{ title }}</option>
                {% endfor %}
            </select>
            <br>
            <p class="stats-ranges">
                <span id="display-range-start">{{ display_range_start }}</span> …
                <span id="display-range-end">{{ display_range_end }}</span>
            </p>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-pills nav-period-pills" style="margin-bottom: 10px;">
                <li data-period="range">
                    <a class="show-date-range" href="#"
                       style="margin-left: -10px">
                        <i class="fa fa-calendar"></i>
                    </a>
                </li>
                <li class="nav-period active" data-period="today"><a href="#">Сегодня</a></li>
                <li class="nav-period" data-period="yesterday"><a href="#">Вчера</a></li>
                <li class="nav-period" data-period="month"><a href="#">Месяц</a></li>
                <li class="nav-period" data-period="5min"><a href="#">Последние 5 мин</a></li>
                <li class="nav-period" data-period="15min"><a href="#">Последние 15 мин</a></li>
                <li class="nav-period" data-period="30min"><a href="#">Последние 30 мин</a></li>
                <li class="nav-period" data-period="60min"><a href="#">Последние 60 мин</a></li>
                <li class="nav-period" data-period="all_time"><a href="#">Ваще</a></li>
            </ul>
        </div>
    </div>

    <div class="input-daterange form-inline"
         style="margin-left: 45px; margin-bottom: 20px;">
        <input type="text" class="form-control input-sm range-start" />
        <span>до</span>
        <input type="text" class="form-control input-sm range-end" />
        <button type="button" class='btn btn-default apply-date-range'>Применить</button>
    </div>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th rowspan="2" style="vertical-align: middle;">#</th>
            <th rowspan="2" style="vertical-align: middle;">Источник</th>
            <th rowspan="2" style="vertical-align: middle;">Заголовок</th>
            <th colspan="3" style="text-align: center;">Материал</th>
            <th colspan="3" style="text-align: center;">Баннер</th>
        </tr>
        <tr>
            <th class="sort" by="in" id="sort-by-in">
                показы <i></i>
            </th>
            <th class="sort" by="out" id="sort-by-out">
                переходы <i></i>
            </th>
            <th class="sort" by="gen" id="sort-by-gen">
                генерация <i></i>
            </th>
            <th class="sort" by="show" id="sort-by-show">
                показы <i></i>
            </th>
            <th class="sort" by="click" id="sort-by-click">
                клики <i></i>
            </th>
            <th class="sort" by="ctr" id="sort-by-ctr">
                CTR <i></i>
            </th>
        </tr>
        </thead>
        <tbody id="stat-data">
        </tbody>
        <tbody id="totals">
        <tr>
            <td colspan="3" align="left"><b>ИТОГО:</b></td>
            <td><b>{{ totals.in }}</b></td>
            <td><b>{{ totals.out }}</b></td>
            <td><b>{{ totals.gen|decimal }}</b></td>
            <td><b>{{ totals.show }}</b></td>
            <td><b>{{ totals.click }}</b></td>
            <td><b>{{ (totals.ctr * 100)|decimal }}%</b></td>
        </tr>
        </tbody>
    </table>
</script>

<script id="tools-stats-item-template" type="text/template">
    <td>{{ idx }}</td>
    <td><a href="/ed/sources/{{ source_id }}">{{ source_name }}</a></td>
    <td>
        <a class="label label-warning" href="/ed/{{ item_type }}/{{ id }}.html">ed</a>
        {% if not App.OVERALL_AUCTION %}
        {% endraw %}
        {%  if current_user.has_role('root') or current_user.has_role('admin') %}
        {% raw %}
            <a href="/ed/{{ item_type }}/auction_stats/{{ id }}"
              type="button"
              class="btn btn-xs btn-default auction-stats-button"
              title="Аукцион">
                <i class="fa fa-gavel"></i>
            </a>&nbsp;
        {% endraw %}
        {% endif %}
        {% raw %}
        {% endif %}
        <a href="http://{{ App.CONFIG_SERVER_NAME }}/{{ item_type }}/{{ id }}.html">{{ title }}</a>
        {% if is_gallery %}
            <span class="label label-info pull-right">
                {% if is_gallery_from_hell %}
                    Адовая галерея
                {% else %}
                    Галерея
                {% endif %}
            </span>
        {% endif %}
        {% if video %}
        <span class="label label-info pull-right">Видос</span>
        {% endif %}
    </td>
    <td style="text-align: right;">{{ in }}</td>
    <td style="text-align: right;">{{ out }}</td>
    <td style="text-align: right;">{{ gen|decimal }}</td>
    <td style="text-align: right;">{{ show }}</td>
    <td style="text-align: right;">{{ click }}</td>
    <td style="text-align: right;">{{ (ctr * 100)|decimal }}%</td>
</script>


<!-- Sources statistics -->
<script id="tools-sources-stats-template" type="text/template">
    <div class="row">
        <div class="col-md-10">
            <ul class="nav nav-pills nav-period-pills" style="margin-bottom: 10px;">
                <li data-period="range">
                    <a class="show-date-range cursor-pointer" style="margin-left: -10px">
                        <i class="fa fa-calendar"></i>
                    </a>
                </li>
                <li class="nav-period cursor-pointer active" data-period="today"><a>Сегодня</a></li>
                <li class="nav-period cursor-pointer" data-period="yesterday"><a>Вчера</a></li>
                <li class="nav-period cursor-pointer" data-period="month"><a>Месяц</a></li>
                <li class="nav-period cursor-pointer" data-period="5min"><a>Последние 5 мин</a></li>
                <li class="nav-period cursor-pointer" data-period="15min"><a>Последние 15 мин</a></li>
                <li class="nav-period cursor-pointer" data-period="30min"><a>Последние 30 мин</a></li>
                <li class="nav-period cursor-pointer" data-period="60min"><a>Последние 60 мин</a></li>
                <li class="nav-period cursor-pointer" data-period="all_time"><a>Ваще</a></li>
            </ul>
        </div>
    </div>

    <div class="input-daterange form-inline"
         style="margin-left: 45px; margin-bottom: 20px;">
        <input type="text" class="form-control input-sm range-start" />
        <span>до</span>
        <input type="text" class="form-control input-sm range-end" />
        <button type="button" class='btn btn-default apply-date-range'>Применить</button>
    </div>

    <div class="alert-box"></div>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th class="sort" by="name" id="sort-by-name">
                Источник <i></i>
            </th>
            <th class="sort" by="clicks" id="sort-by-clicks">
                Переходы <i></i>
            </th>
            <th class="sort" by="shows" id="sort-by-shows">
                Показы <i></i>
            </th>
            <th class="sort" by="ctr" id="sort-by-ctr">
                CTR <i></i>
            </th>
            <th class="sort" by="ask" id="sort-by-ask">
                Цена <i></i>
            </th>
            <th class="sort" by="bid" id="sort-by-bid">
                Стоимость <i></i>
            </th>
        </tr>
        </thead>
        <tbody id="sources-stats-rows">
        </tbody>
        <tfoot>
        <tr>
            <td align="left"><b>ИТОГО:</b></td>
            <td><b>{{ totals.clicks }}</b></td>
            <td><b>{{ totals.shows }}</b></td>
            <td><b>{{ totals.ctr }}%</b></td>
            <td><b>{{ totals.ask }}</b></td>
            <td><b>{{ totals.bid }}</b></td>
        </tr>
        </tfoot>
    </table>
</script>

<script id="tools-sources-stats-item-template" type="text/template">
    <td><a class="show-source-stats cursor-pointer" data-id="{{ id }}">{{ name }}</a></td>
    <td style="text-align: right;">{{ clicks }}</td>
    <td style="text-align: right;">{{ shows }}</td>
    <td style="text-align: right;">{{ ctr }}%</td>
    <td style="text-align: right;">{{ ask }}</td>
    <td style="text-align: right;">{{ bid }}</td>
</script>

<!-- Статистика генерации -->
<script id="tools-generation-graph-template" type="text/template">
    <div class="col-md-11">
        <div id="chart-today" style="height:400px;"></div>
        <div id="chart-total" style="height:400px;"></div>
    </div>
    <div class="col-md-1">
        <p>Если нажать на точку на нижнем графике, верхний график покажет данные за тот день.</p>
    </div>
</script>

<script id="tools-generation-table-content-template" type="text/template">
    <h2>Статистика за {{ data.date }}</h2>
    <p>
        Пришло: {{ data.day_totals.ext_in }};
        Ушло: {{ data.day_totals.out }};
        Геннадий: {{ data.day_totals.gen|round(2) }}%
    </p>
    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <th></th>
        <th>In</th>
        <th>Out</th>
        <th>Gen</th>
        <th>B / S</th>
        </thead>
        <tbody>
        {% for group in seriesList %}
        <tr class="tools-generation-table-collapser well"
            data-toggle="collapse"
            data-target=".tools-generation-table-collapsee[data-hours={{ group.hours }}]">
            <td>{{ group.hours }} ч.</td>
            <td>{{ group.ext_in_}}</td>
            <td>{{ group.out }}</td>
            <td>{{ group.gen|decimal }}</td>
            <td></td>
        </tr>
        {% for date, in_, pre_in_, ext_in_, overall_price, out, gen, banners, sources in group.byMinutes %}
        <tr class="tools-generation-table-collapsee"
            data-hours="{{ group.hours }}">
            <td>&nbsp;&nbsp;:{{ date.split(':')[1] }}</td>
            <td>{{ ext_in_ }}</td>
            <td>{{ out }}</td>
            <td>{{ gen|decimal }}</td>
            <td>
                {% if banners.added.length or banners.removed.length %}
                                <span data-toggle="tooltip"
                                      {% if banners.added.length > banners.removed.length %}  class="text-success" {% else %}class="text-danger" {% endif %}
                                      title="{% if banners.added.length %}Стали активными: {{ banners.added.join(', ') | e }}
                                      {% endif %}{% if banners.removed.length %}Стали не активными: {{ banners.removed.join(', ') | e }}
                                      {% endif %}">
                                      {{ banners.count }}
                                </span>
                {% else %}
                {{ banners.count }}
                {% endif %}
                /
                {% if sources.added.length or sources.removed.length %}
                                <span data-toggle="tooltip"
                                      class="text-danger"
                                      title="{% if sources.added.length %}Стали активными: {{ sources.added.join(', ') | e }}
                                      {% endif %}{% if sources.removed.length %}Стали не активными: {{ sources.removed.join(', ') | e }}
                                      {% endif %}">
                                      {{ sources.count }}
                                </span>
                {% else %}
                {{ sources.count }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</script>

<script id="tools-generation-table-template" type="text/template">
    <div class="col-md-8 tools-generation-table-content"></div>
    <div class="col-md-2 tools-generation-date"></div>
</script>

<script id="tools-generation-template" type="text/template">
    <ul class="nav nav-pills tools-generation-nav">
        <li class="active"><a href="#" data-view="graph">График</a></li>
        <li><a href="#" data-view="table">Таблица</a></li>
    </ul>
    <br/>
    <div class="row tools-generation-content"></div>
</script>

<!-- Настройки сайта -->
<script id="tools-config-template" type="text/template">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <table class="table">
                <tr>
                    <td>
                        <b>auction_max_age_days</b><br/>
                        максимальный возраст баннера, участвующего в аукционе (в днях)
                    </td>
                    <td><a class="config-var-edit" href="#" data-var-name="auction_max_age_days">{{ auction_max_age_days }}</a></td>
                </tr>
                <tr>
                    <td>
                        <b>auction_shows_count</b><br/>
                        сколько раз показывается баннер в рамках аукциона прежде,
                        чем оценивается его CTR
                    </td>
                    <td><a class="config-var-edit" href="#" data-var-name="auction_shows_count">{{ auction_shows_count }}</a></td>
                </tr>
                <tr>
                    <td>
                        <b>auction_clicks_count</b><br/>
                        число кликов, при получении которых баннер досрочно прекращает режим тестирования
                    </td>
                    <td><a class="config-var-edit" href="#" data-var-name="auction_clicks_count">{{ auction_clicks_count}}</a></td>
                </tr>
                <tr>
                    <td>
                        Перезапустить все аукционы
                        <p class="reset-succeed text-success">
                            Все аукционы успешно перезапущены.
                        </p>
                    </td>
                    <td>
                        <button class="btn btn-danger reset-auctions-btn">Перезапустить</button>
                    </td>
                </tr>
                <tr>
                    <td>
                    Правилo исключения баннеров для уника
                    </td>
                    <td class="radgroup">
                                    <label class="block"><input type="radio" class="banner-excluding-rule-selector config-var-select"
                            data-var-name="banner_excluding_rule" name='exrule' value="clicks">1 клик</label>
                                    <label class="block"><input type="radio"  class="banner-excluding-rule-selector config-var-selecrt"
                            data-var-name='banner_excluding_rule' name='exrule' value="shows"> 1 показ</label>
                                    <label class="block"><input type="radio"  class="banner-excluding-rule-selector config-var-select"
                            data-var-name='banner_excluding_rule' name='exrule' value="none">нет ограничений</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    Правилo сортировки баннеров в аукционе
                    </td>
                    <td class="radgroup">
                                    <label class="block"><input type="radio"
                            data-var-name="banner_sorting_rule" id="banner-sorting-rule-selector" class='config-var-select' name='sortrule' value="total"> по общему результату</label>


                                    <label class="block"><input type="radio"
                            data-var-name="banner_sorting_rule" id="banner-sorting-rule-selector" class='config-var-select' name='sortrule' value="total_weighted"> по общему результату с учётом цены</label>



                                    <label class="block"><input type="radio"
                            data-var-name='banner_sorting_rule' id="banner-sorting-rule-selector" class='config-var-select' name='sortrule' value="last"> по последней оценке</label>
                    </td>
                </tr>
                <tr>
                    <td>
                    Алгоритм аукциона
                    </td>
                    <td class="radgroup">
                        {% for id, description in App.AUCTION_ALGORITHMS %}
                        <label class="block">
                            <input type="radio" class="auction-algorithm-selector config-var-select"
                                   data-var-name="auction_algorithm" name='auction_algorithm' value="{{ id }}">{{ description }}
                            </input>
                        </label>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                    Для быстрого аукциона: значение порогового CTR
                    </td>
                    <td><a class="config-var-edit" href="#" data-var-name="fast_auction_ctr_threshold">{{ fast_auction_ctr_threshold }}</a></td>
                </tr>
            </table>
        </div>
    </div>
</script>

<script id="tools-auction-config" type="text/template">
        <h4>Настройки</h4>
        <table class="table">
            <tr>
                <td>
                Алгоритм аукциона
                </td>
                <td class="radgroup">
                    <label class="block">
                        <input type="radio" class="auction-algorithm-selector config-var-select"
                               data-var-name="auction_algorithm" name='auction_algorithm' value="">Использовать глобальные настройки
                        </input>
                    </label>
                    {% for id, description in App.AUCTION_ALGORITHMS %}
                    <label class="block">
                        <input type="radio" class="auction-algorithm-selector config-var-select"
                               data-var-name="auction_algorithm" name='auction_algorithm' value="{{ id }}">{{ description }}
                        </input>
                    </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <b>auction_max_age_days</b><br/>
                    максимальный возраст баннера, участвующего в аукционе (в днях)
                </td>
                <td><a class="config-var-edit" href="#" data-var-name="auction_max_age_days">{{ auction_max_age_days }}</a></td>
            </tr>
            <tr>
                <td>
                    <b>auction_shows_count</b><br/>
                    сколько раз показывается баннер в рамках аукциона прежде,
                    чем оценивается его CTR
                </td>
                <td><a class="config-var-edit" href="#" data-var-name="auction_shows_count">{{ auction_shows_count }}</a></td>
            </tr>
            <tr>
                <td>
                    <b>auction_clicks_count</b><br/>
                    число кликов, при получении которых баннер досрочно прекращает режим тестирования
                </td>
                <td><a class="config-var-edit" href="#" data-var-name="auction_clicks_count">{{ auction_clicks_count}}</a></td>
            </tr>
            <tr>
                <td>
                    <b>Пороговый CTR (для быстрого аукциона)</b><br>
                    при превышении этого значения баннеры будут зафиксированы в топе
                </td>
                <td><a class="config-var-edit" href="#" data-var-name="fast_auction_ctr_threshold">{{ fast_auction_ctr_threshold }}</a></td>
            </tr>
        </table>
</script>


<script  id="tools-auction-queue" type="text/template">
    <table class="table table-hover table-condensed">
        <tr>
            <td colspan="3">
                <h3>Текущее тестирование</h3>
            </td>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th class="sort" by="source_title">Источник <i></i></th>
            <th class="sort" by="title">Баннер <i></i></th>
            <th class="sort" by="shows">Показы <i></i></th>
            <th class="sort" by="clicks">Клики <i></i></th>
        </tr>

        {% for i in queue %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ i.source_title }}</td>
            <td width="45%"><a href="/ed/banners/{{ i.id }}">{{ i.title }}</a></td>
            <td>{{ i.shows }}</td>
            <td>{{ i.clicks }}</td>
        </tr>
        {% endfor %}

    </table>
</script>

<script type="text/template" id="tools-auction-result">
    <table class="table table-hover table-condensed">
        <tr>
            <td colspan="3">
                <h3>Последний результат</h3>
            </td>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th class="sort" by="source_title">Источник <i></i></th>
            <th class="sort" by="title">Баннер <i></i></th>
            <th class="sort text-right" by="ctr">CTR х Цена <i></i></th>
        </tr>

        {% for i in result %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ i.source_title }}</td>
            <td width="45%"><a href="/ed/banners/{{ i.id }}">{{ i.title }}</a></td>
            <td class="text-right">{{ (i.ctr * 100.00)|round(2)}}%</td>
        </tr>
        {% endfor %}
    </table>
</script>

<script  type="text/template" id="tools-auction-hour-stats">
    <table class="table table-hover table-condensed">
        <tr>
            <td colspan="3">
                <h3>Статистика за час</h3>
            </td>
            <td colspan="1">
            </td>
        </tr>
        <tr>
            <th class="sort" by="time">Время <i></i></th>
            <th class="sort" by="in">Показы <i></i></th>
            <th class="sort" by="out">Переходы <i></i></th>
            <th class="sort" by="gen">Генерация <i></i></th>
        </tr>
        {% for time, line in hour_stat %}
        <tr>
            <td>{{ time }}</td>
            <td>{{ line.in or "&ndash;" }}</td>
            <td>{{ line.out or "&ndash;" }}</td>
            <td>
                {% if line.gen %}
                {{ line.gen|decimal }}
                {% else %}
                &ndash;
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</script>

<script id="tools-auction-total-stats" type="text/template">
    <table class="table table-hover table-condensed">
        <tr>
            <td colspan="3">
                <h3 style="white-space: nowrap">Общая статистика по аукциону</h3>
                <label>
                    Отображать только активные
                    <input type="checkbox" class="only-active"
                           {% if onlyActive %}checked{% endif %} />
                </label>
            </td>
            <td colspan="3">
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th>Источник</th>
            <th>Баннер</th>
            <th class="sort sort-wrap" by="curr_auction_shows">Показов в тек. открутке <i></i></th>
            <th class="sort sort-wrap" by="last_ctr">Последний CTR <i></i></th>
            <th class="small sort sort-wrap" by="shows">Показов всего <i></i></th>
            <th class="small sort sort-wrap" by="clicks">Кликов всего <i></i></th>
            <th class="small sort sort-wrap" by="ctr">Общий CTR <i></i></th>
            <th class="sort sort-wrap" by="first_finish_time">Время первой открутки <i></i></th>
        </tr>
        {% set index = 0 %}
        {% set curr_auction_shows_sum = 0 %}
        {% set shows_sum = 0 %}
        {% set clicks_sum = 0 %}
        
        {% for i in total_stats %}
          {% set index = loop.index%}
          {% set curr_auction_shows_sum = curr_auction_shows_sum + i.curr_auction_shows %}
          {% set shows_sum = shows_sum + i.shows %}
          {% set clicks_sum = clicks_sum + i.clicks %}
        
            {% if not onlyActive or i.is_active %}
                {# Start setting style for line #}
                    {% set scl = '' %}
                    {% set scl_title = "" %}

                    {% if not i.first_finish_time or i.first_finish_time == ' ' %}
                    {% set scl = "red-line" %}
                    {% set scl_title = "Неоттестированный" %}
                    {% endif %}

                    {% if not i.is_active %}
                    {% set scl = "blue-line" %}
                    {% set scl_title = "Неактивный" %}
                    {% endif %}

                    {% if not i.first_finish_time and not i.is_active %}
                    {% set scl = "grey-line" %}
                    {% set scl_title = "Неактивный и неоттестированный" %}
                {% endif %}
                {# End setting style for line #}
                <tr class="{{ scl }}" title="{{ scl_title }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ i.source_title }}</td>
                    <td width="45%"><a href="/ed/banners/{{ i.id }}">{{ i.title }}</a></td>
                    <td>{{ i.curr_auction_shows }} </td>
                    <td>{{ i.last_ctr|round(2)}}%</td>
                    <td class="small">{{ i.shows }}</td>
                    <td class="small">{{ i.clicks }}</td>
                    <td class="small">{{ i.ctr|round(2) }}%</td>
                    <td class="small">
                        {{ i.first_finish_time }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if index > 0 %}
            <tr>
                <th colspan="3" style="text-align: left"><b>ИТОГО:</b></th>
                <th class="small">{{ curr_auction_shows_sum  }}</th>
                <th class="small">{{ (clicks_sum/curr_auction_shows_sum*100)|round(2) }}%</th>
                <th class="small">{{ shows_sum }}</th>
                <th class="small">{{ clicks_sum }}</th>
                <th class="small">{{ (clicks_sum/shows_sum*100)|round(2) }}%</th>
                <th class="small"></th>
            </tr>
        {% endif %}
    </table>
</script>

<!-- Статистика аукционов -->
<script id="tools-auction-stats" type="text/template">

    {% if App.OVERALL_AUCTION %}
    <h2>Общий аукцион</h2>
    {% else %}
    <h2><a href="/ed/news/{{ id }}.html">{{ title }}</a> : аукцион<br /><br /></h2>
    {% endif %}

    <div class="row">
        <div class="col-md-7">
            <div class="auction-config"></div>
        </div>
        <div class="col-md-5">
            <button type="button" class="btn btn-danger reset-auction">
                <i class="glyphicon glyphicon-off"></i> Перезапустить аукцион
            </button>

            <button type="button" class="btn btn-primary reload-stats">
                <i class="glyphicon glyphicon-repeat"></i> Обновить статистику
            </button>
        </div>
    </div>

    <div class="row">
        <div role="tabpanel">
            <ul class="nav nav-tabs">
                <li role="presentation" class='active'><a href="#auction-total-stats-tab" aria-controls="auction-total-stats-tab" role="tab" data-toggle="tab">Общая статистика по аукциону</a></li>
                <li role="presentation">
                    <a href="#auction-hour-stats-tab"
                       aria-controls="auction-result-tab"
                       role="tab"
                       data-toggle="tab">Статистика за час
                    </a>
                </li>
                <li role="presentation" class="pull-right"><a href="#auction-result-tab" aria-controls="auction-result-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-arrow-down"></span></a></li>
                <li role="presentation" class="pull-right"><a href="#auction-queue-tab" aria-controls="auction-queue-tab" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-arrow-up"></span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="auction-total-stats-tab">
                </div>
                <div role="tabpanel" class="tab-pane fade" id="auction-queue-tab">
                </div>
                <div role="tabpanel" class="tab-pane fade" id="auction-result-tab">
                </div>
                <div role="tabpanel" class="tab-pane fade" id="auction-hour-stats-tab">
                </div>
            </div>
        </div>
    </div>


</script>

<!-- History of prices -->
<script id="history-prices-list-template" type="text/template">
    <h1>Метрика</h1>
    <hr/>
    <div class="panel">
        <div>
            <select class="source form-control">
                <option value="">Все источники</option>
                {% for i, title in sources %}
                <option value="{{ i }}" {% if i == source_id %}selected="selected"{% endif %}>{{ title }}</option>
                {% endfor %}
            </select>
        </div>

        <div>
            <div class="form-group btn-nav">
                <label>Интервал</label>
                <!--<div class="interval btn" data-value="5min">5 минут</div>-->
                <div class="interval btn" data-value="10min">10 минут</div>
                <div class="interval btn btn-primary" data-value="15min">15 минут</div>
                <div class="interval btn disabled" data-value="30min">30 минут</div>
                <div class="interval btn disabled" data-value="60min">час</div>
                <div class="interval btn disabled" data-value="day">сутки</div>
                <div class="interval btn disabled" data-value="month">месяц</div>
            </div>

            <div class="period btn-nav">
                <label>Период</label>
                <div class="btn fa fa-calendar" data-value="range"></div>
                <div class="btn fixed" data-value="today">Сегодня</div>
                <div class="btn fixed" data-value="yesterday">Вчера</div>
                <div class="btn fixed" data-value="month">Месяц</div>
                <div class="btn fixed" data-value="15min">Последние 15 минут</div>
                <div class="btn fixed btn-primary" data-value="30min">Последние 30 минут</div>
                <div class="btn fixed" data-value="60min">Последние 60 минут</div>
                <div class="btn fixed" data-value="all_time">Ваще</div>

                <div class="period-range input-daterange form-group hidden">
                    <input class="start form-control" />
                    <span>до</span>
                    <input class="end form-control" />
                    <button class="apply btn btn-default" type="button">Применить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="alert-box"></div>

    <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th class="sort" by="time" id="sort-by-time">
                Время <i></i>
            </th>
            <th class="sort" by="input" id="sort-by-input">
                Входящий  <i></i>
            </th>
            <th class="sort" by="ask" id="sort-by-ask">
                Стоимость вх.  <i></i>
            </th>
            <th class="sort" by="output" id="sort-by-output">
                Исходящий  <i></i>
            </th>
            <th class="sort" by="bid" id="sort-by-bid">
                Стоимость исх.  <i></i>
            </th>
            <th class="sort" by="traffic_balance" id="sort-by-traffic_balance">
                Баланс трафика  <i></i>
            </th>
            <th class="sort" by="price_balance" id="sort-by-price_balance">
                Баланс стоимости  <i></i>
            </th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
        <tr>
            <td><b>ИТОГО:</b></td>
            <td data-name="input">{{ totals.input }}</td>
            <td data-name="ask">{{ totals.ask }}</td>
            <td data-name="output">{{ totals.output }}</td>
            <td data-name="bid">{{ totals.bid }}</td>
            <td data-name="traffic_balance">{{ totals.traffic_balance }}</td>
            <td data-name="price_balance">{{ totals.price_balance }}</td>
        </tr>
        </tfoot>
    </table>
    <div>
        <button class="more btn btn-primary hidden" type="button">Еще 1000 записей</button>
    </div>
</script>

<script id="history-price-template" type="text/template">
    <td class="time">{{ time }}</td>
    <td>{{ input }}</td>
    <td>{{ ask }}</td>
    <td>{{ output }}</td>
    <td>{{ bid }}</td>
    <td>{{ traffic_balance }}</td>
    <td>{{ price_balance }}</td>
</script>

{% endraw %}

{% assets "admin_js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{# compiled js #}
{% for x in ['app', 'navigation', 'sources', 'providers', 'tags', 'news', 'fit_text', 'tools', 'stats', 'history', 'users'] %}
    <script type="text/javascript" src="{{ url_for('admin.static', filename='js/compiled/%s.js' % x) }}"></script>
{% endfor %}

<script type="text/javascript" src="{{ url_for('admin.static', filename='js/vendor/ckeditor/ckeditor.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('admin.static', filename='js/vendor/ckeditor/adapters/jquery.js') }}"></script>

<script>
    $(function () {
        {# the url prefix for flask's blueprint: used to construct absolute urls #}
        App.BP_PREFIX = '{{ url_for('admin.index') }}';
        App.BP_STATIC_PREFIX = '{{ url_for('admin.static', filename='') }}';
        App.OVERALL_AUCTION = {{ 'true' if config.OVERALL_AUCTION else 'false' }};
        App.OVERALL_ITEM_ID = "{{ config.OVERALL_ITEM_ID }}";
        App.CONFIG_SERVER_NAME = "{{ config.SERVER_NAME }}";
        App.AUCTION_ALGORITHMS = {{ auction_algorithms_json }};

        App.on('start', function () {
            // по умолчанию перенаправлять на список новостей
            //var r = new App.Router({controller: new App.News.NavController()});
            var r = new App.Router({controller: {to_news: function () {
                App.navigate('news');
            }}});
            r.appRoute('', 'to_news');

            App.navigationRegion.show(new App.Navigation.MenuView({collection: new App.Navigation.Items([
                {%  if current_user.has_role('root') or current_user.has_role('admin') %}
                {url: 'morda', caption: 'Главная'},
                {% endif %}
                {%  if not current_user.has_role('client')%}
                {url: 'news', caption: 'Новости'},
                {url: 'banners', caption: 'Баннеры'},
                {url: 'lines', caption: 'Строчки'},
                {% endif %}
                //{url: 'distilled', caption: 'Дистилляты'},
                {%  if current_user.has_role('root') or current_user.has_role('admin') or current_user.has_role('chief_editor') %}
                {url: 'sources', caption: 'Источники'},
                {url: 'providers', caption: 'Провайдеры'},
                {url: 'stats', caption: 'Статистика'}
                {url: 'history', caption: 'История'},
                //{url: 'users', caption: 'Пользователи'}
                {% endif %}
            ])}));

            App.navigationMiscToolsRegion.show(new App.Navigation.MiscToolsMenuView());

            Backbone.history.start({pushState: true, root: App.BP_PREFIX});
        });

        App.start();
    });
</script>
<div class="ajax-loader hidden"></div>
</body>
</html>
