{% extends "security_index.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block name_form %}Восстановление пароля{% endblock %}

{% block content %}
<form role="form" action="{{ url_for('security.forgot_password') }}" method="POST" name="forgot_password_form">
    <fieldset>
        {{ forgot_password_form.hidden_tag() }}
        <div class="form-group">
            {{ render_field_with_errors(forgot_password_form.email, class="form-control") }}
        </div>
        <button type="submit" class="btn btn-sm btn-success">Восстановить пароль</button>
    </fieldset>
</form>
{% endblock %}