{% extends 'security_index.html' %}
{% block title %}Вход{% endblock %}
{% block name_form %}Вход{% endblock %}
{% block content %}
<form role="form" method="POST" name="login_user_form" action="{{ url_for('security.login') }}">
    <fieldset>
        {{ login_user_form.hidden_tag() }}
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.email, class="form-control") }}
        </div>
        <div class="form-group">
            {{ render_field_with_errors(login_user_form.password, class="form-control") }}
        </div>
        <div class="checkbox">
            <label>
                <input name="remember" type="checkbox" value="1">Запомнить
            </label>
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <input type="submit" class="btn btn-sm btn-success">
        <a href="{{ url_for('security.forgot_password') }}" class="btn btn-sm btn-info">Забыли пароль?</a>
    </fieldset>
</form>
{% endblock %}