{% macro render_pagination(pagination) %}
<nav>
  <ul class="pagination">
  {% if pagination.has_prev %}
  <li>
      <a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;
          </span>
      </a>
  </li>
  {% else %}
  <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
      <li><a href="{{ url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
      {% endif %}
    {% else %}
      <li>…</li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li><a href="{{ url_for_other_page(pagination.page + 1) }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  {% else %}
    <li class="disabled">
      <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endmacro %}