
{% extends "security_index.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block name_form %}Восстановление пароля{% endblock %}

{% block content %}

<form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
    <fieldset>
        {{ reset_password_form.hidden_tag() }}

        <div class="form-group">
            {{ render_field_with_errors(reset_password_form.password, class="form-control") }}

        </div>
        <div class="form-group">
            {{ render_field_with_errors(reset_password_form.password_confirm, class="form-control") }}


        </div>
        <button type="submit" class="btn btn-sm btn-success">Сменить пароль</button>

    </fieldset>
</form>
{% endblock %}

