<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    {% assets "admin_css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

</head>
<body>

<div id="content" class="container">

    <div class="col-md-4 col-md-offset-4">

        {% from "_macros.html" import render_field_with_errors, render_field %}
        {% include "security/_messages.html" %}

        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% block name_form %}{% endblock %}</h3>
            </div>
            <div class="panel-body">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
