<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Управление пользователями</title>
    {% assets "admin_css_all" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet"/>
    {% endassets %}

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.index') }}">
                {{ config['WOW_SITE_NAME'] }}
                ({{ current_user.get_id() }})
            </a>
        </div>
        <div id="navigation-menu" class="navbar-collapse collapse">
            <div id="generated-navigation-menu-region"></div>

            <ul id="navigation-misc-tools-region" class="nav navbar-nav navbar-left">
            </ul>

            <ul class="navbar-form navbar-left pull-right">
                <li><a href="/logout" class="btn btn-danger">Выход</a></li>
            </ul>
        </div>
    </div>
</div>

    <div class="col-md-12">
            <div class="ready"></div>
            <p><button class="btn btn-success" data-toggle="modal" data-target="#myModal" id="add-new-user">
            <span class="glyphicon glyphicon-plus"></span> Добавить пользователя</button></p>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Управление пользователями</div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Пользователь</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Роль</th>
            <th>Активность</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td><a class="btn btn-sm sh-user" data-toggle="modal" data-target="#myModal"
                   data-id="{{ user.id }}"
                   data-firstname="{{ user.firstname }}"
                   data-lastname="{{ user.lastname }}"
                   data-role="{% for role in user.roles %}{{ role }}{% endfor %}"
                   data-active="{{  user.active }}" >{{ user.email }}</a></td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{% for role in user.roles %}
                    {% if role == 'root' %}
                        Суперпользователь
                    {% elif role == 'admin' %}
                        Администратор
                    {% elif role == 'chief_editor' %}
                        Главный редактор
                    {% elif role == 'editor' %}
                        Редактор
                    {% elif role == 'client' %}
                        Клиент
                    {% endif %}
                {% endfor %}</td>
            <td><input type="checkbox" {% if user.active %} checked="checked"{% endif %} disabled="disabled"></td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
        {% if total_count > 10 %}
        {% from 'pagination.html' import render_pagination with context %}
        {{ render_pagination(pagination) }}
        {% endif %}

    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-info" id="myModalLabel">Карточка пользователя</h4>
                </div>
            <div class="modal-body">
               <div id="error"></div>
                <div class="panel panel-default">
                    <input type="hidden" id="id">
                    <div class="panel-body">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email">
                            <div class="form-group">
                                <label for="firstname">Имя</label>
                                <input type="text" class="form-control" id="firstname">
                            </div>
                            <div class="form-group">
                                <label for="lastname">Фамилия</label>
                                <input type="text" class="form-control" id="lastname">
                            </div>
                            <div class="form-group">
                                <label for="password">Пароль</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="form-group">
                                <label for="role">Роль</label>
                                <select class="form-control" id="role">
                                    <option value="admin">Администратор</option>
                                    <option value="chief_editor">Главный редактор</option>
                                    <option value="editor">Редактор</option>
                                    <option value="client">Клиент</option>
                                    <option value="root">Суперпользователь</option>
                                </select>
                            </div>
                            <label for="active">Активен</label>
                            <input type="checkbox" id="active">
                            <p><button class="btn btn-sm btn-success" id="save">Сохранить</button>
                            <button class="btn btn-sm btn-danger" id="delete">Удалить</button></p>

                    </div>
                </div>
            </div>
            </div>
</div>
</div>
    <script src="/ed/static/js/vendor/jquery.js"></script>
    <script src="/ed/static/js/vendor/bootstrap.js"></script>
    <script src="/ed/static/js/compiled/userform.js"></script>

</body>
</html>
