@charset "utf-8";
/* CSS Document */
/* -------------------------------------------------------------- Colors for Main css Starts ---------------------------- */
#navigation ul.nav a:hover {
	color: #d71819;
}
#navigation ul.nav a.current {
	color: #d71819;
}
#navigation ul.nav li .yamm-content a:hover {
	color: #d71819!important;
}
.navbar-nav>li>.dropdown-menu li a:hover {
	color: #d71819!important;
}
.dropdown-submenu:hover>a:after {
	border-left-color: #d71819;
}
#mobile-header .icon-bar {
	background-color: #d71819;
}
.breaking-news .title {
	background-color: #d71819;
	color: #fff;
	margin: 0px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	font-size: 16px;
}
ul.cats li:hover span {
	border: 2px solid #d71819;
	background-color: #d71819;
	color: #fff;
}
ul.cats li span {
	width: 50px;
	height: 50px;
	color: #d71819;
	text-align: center;
	border-radius: 25px;
	line-height: 2.7;
	border: 2px solid #d71819;
	background-color: none;
}
.tag-list a:hover {
	color: #fff;
	background-color: #d71819;
}
.picture .category-image {
	position: relative;
	background-color: #d71819;
}
.category-caption h2 {
	font-size: 14px;
	color: #fff;
	background-color: #d71819;
	padding-top: 11px;
	padding-right: 20px;
	padding-bottom: 11px;
	padding-left: 20px;
	letter-spacing: 2px;
	margin: 0px;
}
.category-caption span {
	font-size: 14px;
	color: #fff;
	background-color: #d71819;
	padding-top: 6px;
	padding-right: 12px;
	padding-bottom: 6px;
	padding-left: 12px;
	border: 1px solid #d71819;
}
.category-caption span:hover {
	background-color: transparent;
	border: 1px solid #d71819;
}
.category-caption span:hover a {
	color: #d71819;
}
.category-caption h2.main-caption:hover {
	background-color: #d71819;
	color: #fff;
	text-decoration: none;
}
.category-caption h2.sub-caption {
	background-color: #d71819;
}
ul.via li:first-child {
	color: #FFF;
	background-color: #d71819;
}
ul.via li:hover {
	color: #FFF;
	background-color: #d71819;
}
.sharepost ul li:first-child {
	font-size: 14px;
	color: #fff;
	background-color: #d71819;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	letter-spacing: 2px;
}
.next-n-prev .btns {
	margin-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #151515;
	color: #d71819;
	border: 2px solid #d71819;
	text-align: center;
}
.next-n-prev .btns:hover {
	background-color: #d71819;
	color: #fff!important;
	border: 2px solid #d71819;
}
.next-n-prev .btns a {
	color: #d71819!important;
}
ul.media-list .media .reply a {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 6px;
	background-color: #151515;
	color: #d71819;
	border: 1px solid #d71819;
}
ul.media-list .media .reply a:hover {
	background-color: #d71819;
	color: #fff;
	border: 1px solid #d71819;
}
.error-page .big {
	font-size: 100px;
	font-weight: 900;
	color: #d71819;
	margin: 0px;
	padding: 0px;
}
.scrollup {
	background-color: #d71819;
}
/* -------------------------------------------------------------- Colors for Main css Ends ---------------------------- */

/* -------------------------------------------------------------- Colors for Bootstrap min css Starts ---------------------------- */

button, html input[type=button], input[type=reset], input[type=submit] {
	color: #d71819;
	-webkit-appearance: button;
	cursor: pointer;
	background-color: #151515;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 14px;
	padding-bottom: 8px;
	padding-left: 14px;
	margin-top: 4px;
	border: 2px solid #d71819;
}
button, html input[type=button]:hover, input[type=reset]:hover, input[type=submit]:hover {
	color: #fff;
	background-color: #d71819;
	border: 2px solid #d71819;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	color: #d71819;
	text-decoration: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #d71819;
	text-decoration: none;
	background-color: #337ab7;
	outline: 0
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	/*background-color: #eee;
	border-color: #337ab7*/
	color: #d71819!important;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
	border: none;
	background-color: #d71819;
	color: #fff;
}
.nav-tabs.nav-justified>li>a {
	border-bottom: 1px solid #d71819;
	border-radius: 0
}
.navbar-inverse .navbar-toggle {
	border-color: #d71819
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #d71819
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	color: #d71819;/*background-color: #080808*/
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #fff;
	background-color: #d71819;
	border-color: #d71819
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #d71819;
	border-color: #d71819
}

/* -------------------------------------------------------------- Colors for Bootstrap min css Starts ---------------------------- */
