{%- macro banner_auction_info(item) -%}
    <div class="auction-info">
        {%- if item.settled is defined and not item.settled -%}
            <div class="auction-mark" title="Этот баннер еще тестируется в аукционе.">
            </div>
        {%- endif -%}
        {%- if item.auction_tag is defined -%}
            <br>
            <div class="badge {{ item.auction_tag }}">
                {{ item.auction_tag }}
            </div>
        {%- endif -%}
        {%- if item.auction_stats -%}
            <br>
            {{ item.auction_stats.shows or 0}}/{{ item.auction_stats.clicks or 0}}/{{ item.auction_stats.ctr|round(2) }}%
        {%- endif -%}
    </div>
{%- endmacro -%}
