{% macro gallery_banner(banner, item_number, path_fn) %}
    <td width="648">
        <div
            class="galleryTeaser hyphenate"
            item_number="{{ item_number }}"
            banner_id="{{ banner.id }}"
            source_id="{{ banner.source_id }}"
            {% if banner %}
                do_not_track="true"
            {% endif %}
        >
            <a href="{{ path_fn(banner) }}">
                {{ banner.title }}
            </a>
        </div>
    </td>
{% endmacro %}

{% macro gallery_video(video, item_number) %}
    <td width="648">
        <div item_number="{{ item_number }}"
             is_video="true">
            {{ video }}
        </div>
        <script>
            $('[item_number={{ item_number }}] iframe').attr('width', 648).attr('height', 375);
        </script>
    </td>
{% endmacro %}

{% macro gallery(item, path_fn, gallery_chunks, is_gallery_from_hell, hell_teasers, last_frame_teaser, total_gallery_items, gallery_max_height, gallery_widths,
                 gallery_heights, ads_freq, frame_num, random_next_gallery) %}
    <div id="itemGallery" style="height:{{ gallery_max_height + 55 }}px;"
         from_hell="{{ 'true' if is_gallery_from_hell else 'false' }}"
         total_items="{{ total_gallery_items }}"
         ads_freq="{{ ads_freq }}"
         frame_num="{{ frame_num }}">

        <div class="gallery" style="height:{{ gallery_max_height }}px;">
            <div class="prev" style="top:{{ ((gallery_max_height - 116) / 2) | int }}px;">&nbsp;</div>
            <div class="next" style="top:{{ ((gallery_max_height - 116) / 2) | int }}px;">&nbsp;</div>
            <div class="prevArea" style="height:{{ gallery_max_height }}px;">
                <img src="/images/dot.gif" width="150" height="{{ gallery_max_height }}">
            </div>
            <div class="nextArea" style="height:{{ gallery_max_height }}px;">
                <img src="/images/dot.gif" width="150" height="{{ gallery_max_height }}">
            </div>

            <table class="galleryInner" cellspacing="0" cellpadding="0" border="0"
                   width="{{ total_gallery_items * 648 }}">
                <tr>

                    {# Вставить картинки и баннеры для показа в галерее в нужном порядке. #}

                    {%- set item_number = 0 -%}
                    {%- set banner_place_name = 'hell-gallery-frame' if is_gallery_from_hell else 'gallery-frame' -%}
                    {% for chunk in gallery_chunks %}

                        {# несколько картинок... #}
                        {% for i in chunk %}
                            <td width="648">
                                {% with w = gallery_widths[i.num],
                                            h = gallery_heights[i.num] %}
                                    <div class="itemImage" style="width:{{ w }}px;">
                                        <img src="{{ item.image_url_from_image_data(i, w, h) }}"
                                             width="{{ w }}"
                                             height="{{ h }}"><br>
                                    </div>
                                {% endwith %}
                            </td>
                        {% endfor %}
                        {% set item_number = item_number + chunk|length %}

                        {# ... и реклама-тизер #}
                        {% if not loop.last %}
                            {% if hell_teasers|length >= loop.index0 + 1 %}
                                {# баннер в середине галереи (в т.ч. адовый) #}
                                {{ gallery_banner(hell_teasers[loop.index0], item_number, partial(path_fn, from_place=banner_place_name)) }} 
                            {% else %}
                                <!-- no hell banners found -->
                            {% endif %}
                        {% elif item.is_video() %}
                            {{ gallery_video(item.video, item_number) }}
                        {% elif last_frame_teaser %}
                            {# баннер в конце галереи (всегда неадовый) #}
                            {{ gallery_banner(last_frame_teaser, item_number, partial(path_fn, from_place='gallery-last-frame')) }}
                        {% endif %}

                        {% set item_number = item_number + 1 %}
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div class="thumbs">
            <div class="currentThumb">&nbsp;</div>
            <table class="thumbsInner" border="0" cellspacing="0" cellpadding="0">
                <tr>

                    {% set offset = 0 %}

                    {% for i in item.images %}
                        {% set h = 45 %}
                        {% set w = (gallery_widths[i.num] / gallery_heights[i.num] * h) | int %}
                        <td imgId="{{ loop.index0 }}" thumbOffset="{{ offset }}"
                            imgWidth="{{ w }}">
                            <img src="{{ item.image_url_from_image_data(i, w, h) }}"
                                 width="{{ w }}" height="{{ h }}"><br>
                        </td>

                        {% set offset = offset + 5 + w %}
                    {% endfor %}

                </tr>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        <!--
        $(function () {
            // global vars
            var $itemGallery = $('#itemGallery');
            var isGalleryFromHell = $itemGallery.attr('from_hell') === 'true';
            var isNormalPage = window.location.href.indexOf('.html') > -1;
            var galleryCurrent = 0;
            var galleryMaxIdx = parseInt($itemGallery.attr('total_items')) - 1;
            var galleryThumbsWidth = {{ offset - 5 }};
            var adsFreq = parseInt($itemGallery.attr('ads_freq'));
            var $teasers = $itemGallery.find('.galleryTeaser');
            var randomNextGallery = '{{ random_next_gallery }}';

            thumbSelect();

            $('#itemGallery .prev, #itemGallery .prevArea').mouseenter(function () {
                $('#itemGallery').find('.prev').addClass('prevHover');
            }).mouseleave(function () {
                $('#itemGallery').find('.prev').removeClass('prevHover');
            }).mousedown(function () {
                $('#itemGallery').find('.prev').addClass('prevActive');
            }).click(function () {
                onGalleryClick(-1);
                galleryScroll(-1);
                trackBannerShow()
                setTimeout(
                        function () {
                            $('#itemGallery').find('.prev').removeClass('prevActive');
                        }, 100
                );
            });

            $('#itemGallery .next, #itemGallery .nextArea').mouseenter(function () {
                $('#itemGallery').find('.next').addClass('nextHover');
            }).mouseleave(function () {
                $('#itemGallery').find('.next').removeClass('nextHover');
            }).mousedown(function () {
                $('#itemGallery').find('.next').addClass('nextActive');
            }).click(function () {
                onGalleryClick(1);
                galleryScroll(1);
                trackBannerShow()
                setTimeout(
                        function () {
                            $('#itemGallery').find('.next').removeClass('nextActive');
                        }, 100
                );
            });

            //$itemGallery.find('.thumbsInner td').click(function () {
            //    var imgId = parseInt($(this).attr('imgId'));
            //    galleryScroll(imageIdToFrame(imgId) - galleryCurrent);
            //    onGalleryClick();
            //});

            function isAdFrame(frame) {
                {# каждый (adsFreq + 1)-й кадр - адовый
                 # последний кадр - обычный баннер (не адовый) #}
                return (frame != 0 && frame != galleryMaxIdx && ((frame + 1) % (adsFreq + 1)) == 0);
            }

            function frameToImageId(frame) {
                return frame - Math.floor((frame + 1) / (adsFreq + 1));
            }

            function imageIdToFrame(id) {
                return id + Math.floor(id / adsFreq);
            }

            function frameToTeaserId(frame) {
                return Math.floor((frame + 1) / (adsFreq + 1)) - 1;
            }

            function trackBannerShow() {
                var $teaserDiv = $('div.galleryTeaser[item_number=' + galleryCurrent + ']')

                if (! $teaserDiv) {
                    return;
                }

                var banner_id = $teaserDiv.attr('banner_id');
                var source_id = $teaserDiv.attr('source_id');

                if (banner_id) {
                    $.get('/track/shown/img/' + banner_id + '/' + source_id, {
                        'from_id': {{ item.id }},
                    })
                }
            }

            function thumbSelect() {
                var $itemGallery = $('#itemGallery');

                if (isAdFrame(galleryCurrent) || galleryCurrent === -1) {
                    $itemGallery.find('.thumbs .currentThumb').css({'display': 'none'});
                    $itemGallery.find('.thumbsInner').animate({'left': 0}, 500);
                } else {
                    var thumb = $itemGallery.find('.thumbsInner td[imgId=' + frameToImageId(galleryCurrent) + ']');
                    var thumbWidth = parseInt(thumb.attr('imgWidth'));
                    var thumbOffset = thumb.attr('thumbOffset');
                    var galleryWidth = 648;
                    var globalOffset;
                    if (galleryWidth >= galleryThumbsWidth || thumbOffset <= Math.round((galleryWidth - thumbWidth) / 2)) {
                        globalOffset = 0;
                    } else {
                        globalOffset = Math.min(thumbOffset - Math.round((galleryWidth - thumbWidth) / 2),
                                        galleryThumbsWidth - galleryWidth);
                    }

                    $itemGallery.find('.thumbsInner').animate({'left': -globalOffset});
                    if ($itemGallery.find('.thumbs .currentThumb').css('display') == 'block') {
                        $itemGallery.find('.thumbs .currentThumb').animate({'width': thumbWidth - 4, 'left': thumbOffset - globalOffset}, 500);
                    } else {
                        $itemGallery.find('.thumbs .currentThumb').css({'display': 'block', 'width': thumbWidth - 4, 'left': thumbOffset - globalOffset});
                    }
                }
            }

            function galleryScroll(offset, speed) {
                galleryCurrent += offset;
                if (galleryCurrent < 0) galleryCurrent = galleryMaxIdx;
                if (galleryCurrent > galleryMaxIdx) galleryCurrent = galleryMaxIdx;

                var effectiveSpeed;
                if (typeof speed === 'undefined') effectiveSpeed = (galleryCurrent > galleryMaxIdx || galleryCurrent < 0) ? 250 : 500;
                else effectiveSpeed = speed;

                if (galleryCurrent == galleryMaxIdx) {
                    $('#itemGallery .nextArea, .prevArea').hide();
                } else {
                    $('#itemGallery .nextArea, .prevArea').show();
                }
                if (galleryCurrent > galleryMaxIdx) {
                    galleryCurrent = galleryMaxIdx;
                } else if (galleryCurrent < 0) {
                    galleryCurrent = 0;
                }

                $('#itemGallery').find('.galleryInner').stop().animate({'left': -galleryCurrent * 648}, effectiveSpeed, function () {
                    if (galleryCurrent > galleryMaxIdx) {
                        galleryCurrent = galleryMaxIdx;
                    } else if (galleryCurrent < 0) {
                        galleryCurrent = 0;
                    }
                });

                if ($('[item_number=' + galleryCurrent + ']').attr('is_video')) {
                    $('#itemGallery .nextArea, .prevArea, .next, .prev').hide();
                }

                thumbSelect();
            }

            var galleryClickCount = 0;

            function galleryExtractBaseUrl(url) {
                return (url.indexOf("?") > -1) ? url.substr(0, url.indexOf("?")) : url;
            }

            function galleryPopunder(url, direction) {
                if (typeof direction === 'undefined') direction = 0;
                window.open(galleryExtractBaseUrl(window.location.href) + "?frame=" + (galleryCurrent + direction), "");
                window.location = url;
            }

            function onGalleryClick(direction) {
                // refresh top-banner's iframe
                //var banner_iframe = $('#top-banner').find('iframe')[0];
                //if (banner_iframe) banner_iframe.src += '';

                var $teaserDiv = $('.galleryTeaser[item_number=' + galleryCurrent + ']');
                var teaserUrl = $teaserDiv.find('a').attr('href');

                {# Последний тизер в обычной галерее, и особенно - в адовой (но не в дистиллятах)
                 # открывает фоном случайную галеру, а пользователя отправляет по ссылке #}
                if (galleryCurrent == galleryMaxIdx && (isNormalPage || isGalleryFromHell)) {
                    window.open(teaserUrl);
                    if (randomNextGallery) {
                        window.location = randomNextGallery;
                    }
                } else if (isGalleryFromHell && isAdFrame(galleryCurrent)) {
                    galleryPopunder(teaserUrl, direction);
                }
                galleryClickCount++;
            }

            galleryScroll(parseInt($itemGallery.attr('frame_num')));
        });
        -->
    </script>

{% endmacro %}
