{% from "macros/misc.html" import image_for_item, track_shown %}
{% macro slider(items, path_fn) %}

    {% if items %}

        <div id="sliderNews">

            <div class="sliderNewsInner">

                <div class="sliderNewsTitle">
                    <div class="sliderNewsClose"><img src="/images/dot.gif" width="20" height="20"></div>
                    <img src="/images/read-more.png" wifth="197" height="41">
                    <br>
                </div>

                <div class="clearfix"></div>

                <div id="sliderNewsExtAdv1">

                    {% if (range(2)|random) == 0 %}

                        <div id="DIV_DA_178515" style="font-size:18px;"></div>
                        <script charset="windows-1251" type="text/javascript"
                                src="http://code.directadvert.ru/show.cgi?adp=178515&div=DIV_DA_178515"></script>

                    {% else %}

                        <div id="smi2adblock_76375"><a href="http://smi2.net/">Новости СМИ2</a></div>
                        <script type="text/javascript" charset="utf-8">
                            (function () {
                                var sc = document.createElement('script');
                                sc.type = 'text/javascript';
                                sc.async = true;
                                sc.src = 'http://js.smi2.ru/data/js/76375.js';
                                sc.charset = 'utf-8';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(sc, s);
                            }());
                        </script>

                    {% endif %}

                </div>

                <div id="sliderNewsIntAdv">

                    {# Трекер показов, только для баннеров. #}
                    {{ track_shown(items[0:3]|select('is_banner')) }}

                    {# only the first 3 items are shown #}
                    {% for item in items[0:3] %}
                        {% with path = path_fn(item, from_place='slider') %}
                            <div class="sliderNewsItem">
                                <div class="img">
                                    <a href="{{ path }}" target="_blank">
                                        {{ image_for_item(item, 150, 120) }}
                                    </a>
                                    <br>
                                </div>
                                <div class="title hyphenate">
                                    <a href="{{ path }}" target="_blank">
                                        {{ item.title }}
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        {% endwith %}
                    {% endfor %}

                </div>

            </div>
        </div>

        <script type="text/javascript">
            $(function () {
                var $sliderNews = $('#sliderNews');
                var $sliderNewsExtAdv1 = $('#sliderNewsExtAdv1');
                var $sliderNewsIntAdv = $('#sliderNewsIntAdv');
                {# 0 = hidden, 1 = shown, -1 = never show again #}
                var sliderNewsOpen = 0;

                $(window).scroll(function () {
                    if ($(this).scrollTop() > 1800) {
                        if (sliderNewsOpen == 0) {
                            sliderNewsOpen = 1;
                            $sliderNews.css({'display': 'block', 'bottom': '30px', 'position': 'fixed',}).animate({left: '0px'}, 800);
                            if ($sliderNewsExtAdv1.height() > 50) {
                                $sliderNewsIntAdv.hide();
                                $sliderNewsExtAdv1.show();

                            } else {
                                $sliderNewsIntAdv.show();
                                $sliderNewsExtAdv1.hide();
                            }
                        }
                    } else if (sliderNewsOpen == 1) {
                        sliderNewsOpen = 0;
                        $sliderNews.stop().animate({'left': '-500px'}, 800, function () {
                            $(this).css({'display': 'none'});
                        });
                    }
                });

                $('.sliderNewsClose').click(function () {
                    sliderNewsOpen = -1;
                    $sliderNews.stop().animate({'left': '-500px'}, 800, function () {
                        $(this).css({'display': 'none'});
                    });
                });
            });
        </script>

    {% endif %}

{% endmacro %}
