{% macro social_buttons(item) %}
    <div class="socialButtons">
        {% with full_path = 'http://wow-impulse.ru%s' % item.path() %}
            <div style="margin-top: 15px">
                <div class="addthis_sharing_toolbox"></div>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f5bb420fd8ecfa" async="async"></script>
            </div>
        {% endwith %}
    </div>
{% endmacro %}
