{% from "macros/misc.html" import image_for_item, track_shown %}

{%- macro ushi(top_items, path_fn) -%}
    {% if config.SERVER_NAME == 'funnetwork.ru' or config.SERVER_NAME == '2.funnetwork.ru' %}     
    <!-- MarketGidComposite Start --> <div id="MarketGidScriptRootC580081"> <div id="MarketGidPreloadC580081"> <a id="mg_add580081" href="http://usr.marketgid.com/demo/celevie-posetiteli/" target="_blank"><img src="//cdn.marketgid.com/images/marketgid_add_link.png" style="border:0px"></a><br> <a href="http://marketgid.com/" target="_blank">Загрузка...</a> </div> <script> (function(){ var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById'; var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootC580081")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];} catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootC580081");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=580081;c[ac](dv); var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.marketgid.com/w/o/wow-impulse.ru.580081.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})(); </script> </div> <!-- MarketGidComposite End -->
    {% else %}
    <div id="topItems">

        {# Трекер показов, только для баннеров. #}
        {{ track_shown(top_items|select('is_banner')) }}

        <table border="0" cellspacing="0" cellpadding="0" width="980">
            <tr>
                {% for item in top_items %}
                    {% if loop.index != 1 %}
                        <td width="6"><img src="/images/dot.gif" width="6" height="1"></td>
                        <td width="1" bgcolor="#0f0f0f"><img src="/images/dot.gif" width="1" height="1"></td>
                        <td width="5"><img src="/images/dot.gif" width="5" height="1"></td>
                    {% endif %}

                    {%- with path = path_fn(item, is_auction=0, from_place='top_items') -%}

                        <td valign="top">

                            <div class="teaser">
                                <table width="236" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td rowspan="2" valign="top" width="126">
                                            <div class="image">
                                                <a class="w-teaser" href="{{ path }}" target="_blank">
                                                    {{ image_for_item(item, 113, 87) }}
                                                </a><br>
                                            </div>
                                        </td>
                                        <td width="110" valign="top">

                                            <div class="fullTitle">
                                                <table border="0" cellspacing="0" cellpadding="0" height="87"
                                                       width="110">
                                                    <tr>
                                                        <td valign="top">
                                                            <div class="title hyphenate">
                                                                <a class="w-teaser" href="{{ path }}" target="_blank">
                                                                    {{ item.title }}
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="bottom">
                                                            <div class="more">
                                                                <a class="w-teaser" href="{{ path }}"
                                                                   target="_blank">Подробнее...</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="title hyphenate">
                                                <a class="w-teaser" href="{{ path }}" target="_blank">
                                                    {{ item.title | truncate(50) }}
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="110" valign="bottom">
                                            <div class="more">
                                                <a class="w-teaser" href="{{ path }}" target="_blank">Подробнее...</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    {% endwith %}
                {% endfor %}
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        $(function () {
            var $pageHeader = $('#pageHeader');
            $pageHeader.find('.teaser').each(function () {
                var h = $(this).height();
                var fh = $(this).find('.fullTitle').height();
                if (fh <= h) {
                    $(this).find('.fullTitle').show();
                    $(this).attr('fullTitle', '');
                }
            });
            $pageHeader.find('.teaser').mouseover(function () {
                $(this).find('.fullTitle').show();
            }).mouseout(function () {
                $(this).find('.fullTitle').hide();
            });
        });
    </script>
 {% endif %}

{%- endmacro -%}
